MIME-Version: 1.0
X-Document-Type: Workbook
Content-Type: multipart/related; boundary="----=_NextPart_01D8DFBE.2078AF30"

#########################################################################################################################
## ======================================================================================================================
## Name: All Projects Report.vm
##
## Output Type: Excel XLXS, Excel Legacy
## 
## Description/Notes:
##    - The All Projects Report is a context insensitive report that provides a Excel output list of all projects present on your Jama Connect instance. 
##    - When ran the report will generate a Excel table output that provides the Project ID, Key, Name, Hyperlink, Manager, Created Date, and Project 
##      Hierarchy Path. 
##      - The hierarchy path provides insight into which project folder containers each project may be organized into in which projects not contained by 
##        folders are listed as top level projects to the instance organization. 
##
##    - The report additionally provides a boolean parameter that allows you to include inactive projects that may have been deleted and or archived. 
##      - This will create an additional data column called Active/Inactive that provides the project state with cell coloring designation. 
## 
## Context Sensitive: F
## 
##
## ======================================================================================================================
## MODIFICATION HISTORY 
## 
## Date         Revision   Person            Comments 
## -----------  ---------  ----------------  -------------------------------------------------------------------------
## 2024-07-18   1.0        Liam Rotchford    - Initial build based on single sheet xlsx template version 1.3 and community
##                                             report proposal specifications. 
##
##
##
## ===================================================================================================================== 
## Criteria: 
##
##      Type:     Display Name:                Report Global Variable:
##      --------------------------------------------------------------
##      boolean   Include Inactive Projects    reportIncInactive
##
##
#########################################################################################################################

#########################################################################################################################
## ======================================================================================================================
## Template Steps:
## -----------------
##  1. In your Mockup .mhtml file: 
##     o Find: =\n Replace: <nothing>
##     o Find: =3D Replace: =
##     o Remove any JS <script>...</script> tags and content between tags
##     o Remove <frameset>...</frameset> tags and content between tags
##     o Remove all "Content-Transfer-Encoding: quoted-printable" (this is important because it can ruin styles if present)
##  2. Copy and paste the styles from the Mockup to this template, replacing the styles in the "STYLES" section 
##  3. Copy and paste the entire table from the Mockup to this template, replacing the table in the "BODY" section
##  4. Replace the ExcelWorksheet x:Name to correspond with your tab name in the HEAD of this template
##  5. Do not place comments above the opening code of the file "MIME-Version: 1.0..."
##  6. Do not delete the boundaries or xml file lists
##
## ======================================================================================================================
#########################################################################################################################
#########################################################################################################################
##
##  1. DATA_SOURCES
##
#########################################################################################################################
##
## Data Sources available without declaration
##-------------------------------------------
## $format
## $project
## $documentList
## $baseUrl
## $contextType
## $contextId
## $report_name
##
## Data Sources loaded for this report
##-------------------------------------------
#if( $documentSource ) ##
  ## Jama 8.44 or greater
  ## Jama 8.42 if New Velocity Feature Flag Enabled
  #set( $docDao = $documentSource )
  #set( $documentNodeDao = $documentSource )
  #set( $attachmentDao = $documentSource )
  #set( $attachmentService = $documentSource )
  #set( $docTypeFieldDao = $documentSource )
  #set( $relDao = $documentSource )
  #set( $versionDao = $documentSource )
  #set( $testRunDao = $testSource )
  #set( $testPlanDao = $testSource)
  #set( $testSetDao = $testSource)
  #set( $testCycleDao = $testSource)
  #set( $velocityServiceWrapper = $documentSource )
  #set( $baselineDao = $baselineSource )
  #set( $contourItemDao = $documentSource )
  #set( $userDao = $userSource )
  #set( $lookupDao = $documentSource )
#else
  ## Jama 8.43 or older
  ## Jama 8.43 or older ## Zoll is version 8.42.1 without the Velocity Feature Flag Enabled
  #set( $contourItemDao = $applicationContext.getBean("contourItemDao"))
  #set( $docDao = $applicationContext.getBean("documentDao"))
  #set( $documentNodeDao = $applicationContext.getBean("documentNodeDao"))
  #set( $attachmentDao = $applicationContext.getBean("attachmentDao"))
  #set( $attachmentService = $applicationContext.getBean("attachmentService"))
  #set( $relDao = $applicationContext.getBean("relationshipDao") )
  #set( $versionDao = $applicationContext.getBean("versionDao") )
  #set( $testRunDao = $applicationContext.getBean("testRunDao") )
  #set( $testPlanDao = $applicationContext.getBean("testPlanDao"))
  #set( $testSetDao = $applicationContext.getBean("testSetDao"))
  #set( $testCycleDao = $applicationContext.getBean("testCycleDao"))
  #set( $userDao = $applicationContext.getBean("userDao"))
  #set( $baselineDao = $applicationContext.getBean("baseLineDao") )
##
#end
##

## Report Parameters
##-------------------------------------------

#set($activeOnly = true)
#set($filterRange = "$A$1:$F$1")

#if($reportIncInactive)
  #set($activeOnly = false)
  #set($filterRange = "$A$1:$G$1")
#end


##
##
##
## Report Constants 
## -------------------------------------------
#set( $cmpKey = "CMP") ##
#set( $setKey = "SET") ##
#set( $fldKey = "FLD") ##
#set( $txtKey = "TXT") ##
#set( $objectTypeField = "object_type" ) ##
#set( $timeZone = "UTC" ) ##
##
## 
#########################################################################################################################





#########################################################################################################################
##
##  HEAD 
##
#########################################################################################################################

#* Replace the ExcelWorksheet x:Name "Report Name" to correspond with the name of your worksheet Tab
That is all you need to change within the head tags *#

------=_NextPart_01D8DFBE.2078AF30
Content-Location: file:///C:/61233B10/Single_Sheet_Mockup.htm
Content-Type: text/html; charset="utf-8"

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta name="Excel Workbook Frameset">
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link rel=File-List href="Single_Sheet_Mockup_files/filelist.xml">
<![if !supportTabStrip]>
<link id="shLink" href="Single_Sheet_Mockup_files/sheet001.htm">

<link id="shLink">
<![endif]><!--[if gte mso 9]><xml>
 <x:ExcelWorkbook>
  <x:ExcelWorksheets>
   <x:ExcelWorksheet>
    <x:Name>All Projects</x:Name>
    <x:WorksheetOptions>
      <FreezePanes/>
      <FrozenNoSplit/>
      <SplitHorizontal>1</SplitHorizontal> 
      <TopRowBottomPane>1</TopRowBottomPane>
    </x:WorksheetOptions>
    <x:WorksheetSource HRef="Single_Sheet_Mockup_files/sheet001.htm"/>
   </x:ExcelWorksheet>
  </x:ExcelWorksheets>
  <x:Stylesheet HRef="Single_Sheet_Mockup_files/stylesheet.css"/>
  <x:WindowHeight>12165</x:WindowHeight>
  <x:WindowWidth>27435</x:WindowWidth>
  <x:WindowTopX>930</x:WindowTopX>
  <x:WindowTopY>32767</x:WindowTopY>
  <x:ProtectStructure>False</x:ProtectStructure>
  <x:ProtectWindows>False</x:ProtectWindows>
 </x:ExcelWorkbook>
</xml><![endif]-->
</head>
</html>

#########################################################################################################################
##
##  STYLES 
##
#########################################################################################################################
------=_NextPart_01D8DFBE.2078AF30
Content-Location: file:///C:/61233B10/Single_Sheet_Mockup_files/stylesheet.css
Content-Type: text/css; charset="utf-8"

#* Paste your styles here, replacing the styles in this template. You do not need the opening and closing style tags. 
The styles are found by the template via the boundary and "Content-Location" *#
tr
  {mso-height-source:auto;}
col
  {mso-width-source:auto;}
br
  {mso-data-placement:same-cell;}
.style0
  {mso-number-format:General;
  text-align:left;
  vertical-align:top;
  white-space:nowrap;
  mso-rotate:0;
  mso-background-source:auto;
  mso-pattern:auto;
  color:black;
  font-size:11.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  border:none;
  mso-protection:locked visible;
  mso-style-name:Normal;
  mso-style-id:0;}
td
  {mso-style-parent:style0;
  padding-top:1px;
  padding-right:1px;
  padding-left:1px;
  mso-ignore:padding;
  color:black;
  font-size:11.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:left;
  vertical-align:top;
  border:none;
  mso-background-source:auto;
  mso-pattern:auto;
  mso-protection:locked visible;
  white-space:normal;
  mso-rotate:0;}
.xl63
  {mso-style-parent:style0;
  text-align:center;
  vertical-align:middle;}
.xl64
  {mso-style-parent:style0;
  text-align:center;}
.xl65
  {mso-style-parent:style0;
  color:black;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  text-align:center;
  vertical-align:middle;
  border:.5pt solid windowtext;
  white-space:normal;}
.xl66
  {mso-style-parent:style0;
  color:black;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  vertical-align:middle;
  border:.5pt solid windowtext;
  white-space:normal;}
.xl67
  {mso-style-parent:style0;
  color:black;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  mso-number-format:"mm\/dd\/yyyy";
  vertical-align:middle;
  text-align:center;
  border:.5pt solid windowtext;
  white-space:normal;}
.xl68
  {mso-style-parent:style0;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;}
.xl69
  {mso-style-parent:style0;
  color:black;
  font-size:14.0pt;
  font-weight:700;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  text-align:center;
  vertical-align:middle;
  border:.5pt solid windowtext;
  background:#A6C9EC;
  mso-pattern:black none;
  white-space:normal;}
.xl70
  {mso-style-parent:style0;
  font-size:14.0pt;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  vertical-align:middle;}
.xl71
  {mso-style-parent:style0;
  color:black;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  text-align:center;
  vertical-align:middle;
  text-align:left;
  font-weight:bold;
  border:.5pt solid windowtext;
  white-space:normal;}

#########################################################################################################################
##
##  MACROS
##
#########################################################################################################################
##

#########################################################################################################################
##          Macro: getDate
##          Input: Java Time Zone ID to determine which timezone to display the date in
##          Output: Formatted date in the desired timezone
#########################################################################################################################
#macro( getDate $inputDate $inputTimeZone )
  #set( $outTz = $dateTool.getTimeZone().getTimeZone($inputTimeZone) )
  #set( $locale = $dateTool.getLocale() )
  $dateTool.format( 'MM/dd/yyyy', $inputDate, $locale, $outTz )
#end


######################################################################################################################
######################################################################################################################

#########################################################################################################################
##
##  BODY
##
#########################################################################################################################


------=_NextPart_01D8DFBE.2078AF30
Content-Location: file:///C:/61233B10/Single_Sheet_Mockup_files/sheet001.htm
Content-Type: text/html; charset="utf-8"

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File href="../Single_Sheet_Mockup.htm">
<link rel=File-List href=filelist.xml>
<<style>
<!--table
  {mso-displayed-decimal-separator:"\.";
  mso-displayed-thousand-separator:"\,";}
@page
  {margin:.75in .7in .75in .7in;
  mso-header-margin:.3in;
  mso-footer-margin:.3in;}
-->
</style>
</head>

  
<body link="#0563C1" vlink="#954F72" class=xl65>


  <table border=0 cellpadding=0 cellspacing=0 width=2087 style='border-collapse:collapse;table-layout:fixed;width:1563pt'>
    <col class=xl63 width=71 style='mso-width-source:userset;mso-width-alt:2261;width:53pt'>
    <col class=xl64 width=127 style='mso-width-source:userset;mso-width-alt:4053;width:95pt'>
    <col width=287 span=2 style='mso-width-source:userset;mso-width-alt:9173;width:215pt'>
    <col width=167 style='mso-width-source:userset;mso-width-alt:5333;width:125pt'>
    <col width=127 style='mso-width-source:userset;mso-width-alt:4053;width:95pt'>
    #if($reportIncInactive)
      <col width=167 style='mso-width-source:userset;mso-width-alt:5333;width:125pt'>
    #end
    <col width=807 style='mso-width-source:userset;mso-width-alt:25813;width:605pt'>

    ## Column Headings
    <tr class=xl70 height=41 style='mso-height-source:userset;height:31.0pt'>
      <td height=41 class=xl69 width=71 x:autofiltervalue=all  x:autofilterrange=$filterRange style='height:31.0pt;width:53pt'>ID</td>
      <td class=xl69 width=127 style='border-left:none;width:95pt'>Project Key</td>
      <td class=xl69 width=287 style='border-left:none;width:215pt'>Name</td>
      <td class=xl69 width=167 style='border-left:none;width:125pt'>Project Link</td>
      <td class=xl69 width=167 style='border-left:none;width:125pt'>Manager</td>
      <td class=xl69 width=127 style='border-left:none;width:95pt'>Created Date</td>
      #if($reportIncInactive)
        <td class=xl69 width=167 style='border-left:none;width:125pt'>Active/Inactive</td>
      #end
      <td class=xl69 width=807 style='border-left:none;width:605pt'>Project Hierarchy Path</td>
    </tr>



    ## Instance Projects Dynamic Rows
    #set($projectList = $projectSource.getProjects($activeOnly))
    #foreach($project in $projectList)
      #if( !$project.isFolder )
        <tr class=xl68>
          ## Project ID
          <td class=xl65 width=71 style='border-top:none;width:53pt'>$project.id</td>

          ## Project Key
          <td class=xl65 width=127 style='border-top:none;border-left:none;width:95pt'>$project.projectKey</td>

          ## Project Name
          <td class=xl66 width=287 style='border-top:none;border-left:none;width:215pt'>$project.name</td>

          ## Project Link
          #if($project.active)
            <td class=xl66 width=287 style='border-top:none;border-left:none;width:215pt;font-style:italic;'><a href="$baseUrl/perspective.req#/projects/$project.id/dashboard/$project.id">$baseUrl/perspective.req#/projects/$project.id/dashboard/$project.id</a></td>
          #else
            <td class=xl66 width=287 style='border-top:none;border-left:none;width:215pt;font-style:italic;'><s>$baseUrl/perspective.req#/projects/$project.id/dashboard/$project.id</s></td>
          #end

          ## Project Manager
          #set($projectManager = $project.projectManager.fullName)
          <td class=xl66 width=167 style='border-top:none;border-left:none;width:125pt'>$!projectManager.trim()</td>


          ## Project Created Date
          <td class=xl67 align=center width=127 style='border-top:none;border-left:none;width:95pt'>#getDate($project.createdDate, $timeZone)</td>

          ## Project Active/Inactive State
          #if($reportIncInactive)
            #if($project.active)
              <td class=xl66 align=center width=167 style='background:#DAF2D0;mso-pattern:#DAF2D0 none;border-top:none;border-left:none;width:125pt'>Active</td>
            #else
              <td class=xl66 align=center width=167 style='background:#FBE2D5;mso-pattern:#FBE2D5 none;border-top:none;border-left:none;width:125pt'>Inactive</td>
            #end
          #end

          ## Project Path
          #set($path = "" )
          #set($parentId = false )
          #set($parentId = $project.parent )
          #foreach($i in [1..10] )
            #if(!$parentId )
              #set($path = "<b>$project.organization.name</b> - $path" )
              #break
            #else
              #set($parentProject = $projectSource.getProject($mathTool.toInteger($parentId)))
              #set($path = "$parentProject.name / $path" )
              #set($parentId = $parentProject.parent )
            #end
          #end
          <td class=xl66 width=807 style='border-top:none;border-left:none;width:605pt'>$!path.trim()</td>
        </tr>
      #end

    #end

  </table>

</body>


</html>



## Leave boundaries and file list as is ## 

------=_NextPart_01D8DFBE.2078AF30
Content-Location: file:///C:/61233B10/Single_Sheet_Mockup_files/filelist.xml
Content-Type: text/xml; charset="utf-8"

<xml xmlns:o="urn:schemas-microsoft-com:office:office">
 <o:MainFile HRef="../Single_Sheet_Mockup.htm"/>
 <o:File HRef="stylesheet.css"/>
 <o:File HRef="sheet001.htm"/>
 <o:File HRef="filelist.xml"/>
</xml>
------=_NextPart_01D8DFBE.2078AF30--