MIME-Version: 1.0
X-Document-Type: Workbook
Content-Type: multipart/related; boundary="----=_NextPart_01D8DBD5.4D8FB410"

#########################################################################################################################
## ======================================================================================================================
##
##  Boundaries are necessary deliminators for a Multisheet .xlsx report. In the conversion 
##  of .mht to .xlsx, the file is parsed to distinguish and separate sheets, i.e:
##
##  1. Check Content-Type: multipart/related; boundary="----=_NextPart_01D8D1DD.28209070" to get "boundary"
##  2. Split .mht to HTML files by boundary and name each HTML file with the value of "Content-Location"
##  3. Parse "x:ExcelWorkbook" xml section to get HREF of "x:WorksheetSource",
##  4. Gets the HTML stream of the worksheet by comparing HREF of "x:WorksheetSource" and "Content-Location"
##  5. Read the data of the worksheet.
##
#########################################################################################################################


#########################################################################################################################
## ======================================================================================================================
## Name: All Projects Report.vm
##
## Output Type: Excel XLXS, Excel Legacy
## 
## Description/Notes:
##    - The All Projects Report is a context insensitive report that provides a Excel output list of all projects present on your Jama Connect instance. 
##    - When ran the report will generate a Excel table output that provides the Project ID, Key, Name, Hyperlink, Manager, Created Date, and Project 
##      Hierarchy Path. 
##      - The hierarchy path provides insight into which project folder containers each project may be organized into in which projects not contained by 
##        folders are listed as top level projects to the instance organization. 
##
##    - The report additionally provides a boolean parameter that allows you to include inactive projects that may have been deleted and or archived. 
##      - This will create an additional data column called Active/Inactive that provides the project state with cell coloring designation. 
## 
##    - The report now includes a second worksheet "Item Type Project Matrix" that shows which item types are used in which active projects.
##
## Context Sensitive: F
## 
##
## ======================================================================================================================
## MODIFICATION HISTORY 
## 
## Date         Revision   Person            Comments 
## -----------  ---------  ----------------  -------------------------------------------------------------------------
## 2024-07-18   1.0        Liam Rotchford    - Initial build based on single sheet xlsx template version 1.3 and community
##                                             report proposal specifications. 
## 2025-01-02   2.0        Andres Garcia    - Switched to multisheet template (Excel_XLSX_Multisheet_Template.vm) and 
##                                             added Item Type Project Matrix as second worksheet
##
##
##
## ===================================================================================================================== 
## Criteria: 
##
##      Type:     Display Name:                Report Global Variable:
##      --------------------------------------------------------------
##      boolean   Include Inactive Projects    reportIncInactive
##
##
#########################################################################################################################

#########################################################################################################################
## ======================================================================================================================
## Template Steps:
## -----------------
##  1. In your Mockup .mhtml file: 
##     o Find: =\n Replace: <nothing>
##     o Find: =3D Replace: =
##     o Remove any JS <script>...</script> tags and content between tags
##     o Remove <frameset>...</frameset> tags and content between tags
##     o Remove all "Content-Transfer-Encoding: quoted-printable" (this is important because it can ruin styles if present)
##     o Remove the entire Tab Sheet ( you only will need the xml in the "HEAD" for the tabs )
##  2. Find the HEAD section of this template, and from you Mockup copy and paste all the content that matches to the HEAD section 
##  3. Find the STYLES section, and from your Mockup copy and paste all the content that matches to the STYLES section 
##  4. Find the BODY section, and from your Mockup copy and paste all the Worksheets to the BODY section
##  5. Find the FILE LIST section, and from your Mockup copy and paste the content that matches to the FILE LIST section
##  6. Replace the initial boundary in this template, "Content-Type: multipart/related; boundary="----=_NextPart_01D8DBD5.4D8FB410""
##      with the initial boundary from your mockup. 
##  7. Do not place comments above the opening code of the file "MIME-Version: 1.0..."
## 
## ======================================================================================================================
#########################################################################################################################
#########################################################################################################################
##
##  1. DATA_SOURCES
##
#########################################################################################################################
##
## Data Sources available without declaration
##-------------------------------------------
## $format
## $project
## $documentList
## $baseUrl
## $contextType
## $contextId
## $report_name
##
## Data Sources loaded for this report
##-------------------------------------------
#if( $documentSource ) ##
  ## Jama 8.44 or greater
  ## Jama 8.42 if New Velocity Feature Flag Enabled
  #set( $docDao = $documentSource )
  #set( $documentNodeDao = $documentSource )
  #set( $attachmentDao = $documentSource )
  #set( $attachmentService = $documentSource )
  #set( $docTypeFieldDao = $documentSource )
  #set( $relDao = $documentSource )
  #set( $versionDao = $documentSource )
  #set( $testRunDao = $testSource )
  #set( $testPlanDao = $testSource)
  #set( $testSetDao = $testSource)
  #set( $testCycleDao = $testSource)
  #set( $velocityServiceWrapper = $documentSource )
  #set( $baselineDao = $baselineSource )
  #set( $contourItemDao = $documentSource )
  #set( $userDao = $userSource )
  #set( $lookupDao = $documentSource )
#else
  ## Jama 8.43 or older
  ## Jama 8.43 or older ## Zoll is version 8.42.1 without the Velocity Feature Flag Enabled
  #set( $contourItemDao = $applicationContext.getBean("contourItemDao"))
  #set( $docDao = $applicationContext.getBean("documentDao"))
  #set( $documentNodeDao = $applicationContext.getBean("documentNodeDao"))
  #set( $attachmentDao = $applicationContext.getBean("attachmentDao"))
  #set( $attachmentService = $applicationContext.getBean("attachmentService"))
  #set( $relDao = $applicationContext.getBean("relationshipDao") )
  #set( $versionDao = $applicationContext.getBean("versionDao") )
  #set( $testRunDao = $applicationContext.getBean("testRunDao") )
  #set( $testPlanDao = $applicationContext.getBean("testPlanDao"))
  #set( $testSetDao = $applicationContext.getBean("testSetDao"))
  #set( $testCycleDao = $applicationContext.getBean("testCycleDao"))
  #set( $userDao = $applicationContext.getBean("userDao"))
  #set( $baselineDao = $applicationContext.getBean("baseLineDao") )
##
#end
##

## Report Parameters
##-------------------------------------------

#set($activeOnly = true)
#set($filterRange = "$A$1:$F$1")

#if($reportIncInactive)
  #set($activeOnly = false)
  #set($filterRange = "$A$1:$G$1")
#end


##
##
##
## Report Constants 
## -------------------------------------------
#set( $cmpKey = "CMP") ##
#set( $setKey = "SET") ##
#set( $fldKey = "FLD") ##
#set( $txtKey = "TXT") ##
#set( $objectTypeField = "object_type" ) ##
## Stores the configured TimezoneId from the jama instance, expect it to be UTC most of the time.
#set( $timeZone = $dateTool.getTimeZone().ID ) ##
##
## 
#########################################################################################################################


#########################################################################################################################
##
##  HEAD 
##
#########################################################################################################################

------=_NextPart_01D8DBD5.4D8FB410
Content-Location: file:///C:/61233B10/AllProjectsReport.htm
Content-Type: text/html; charset="utf-8"

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">


<head>
<meta name="Excel Workbook Frameset">
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link rel=File-List href="AllProjectsReport_files/filelist.xml">
<![if !supportTabStrip]>
<link id="shLink" href="AllProjectsReport_files/sheet001.htm">
<link id="shLink" href="AllProjectsReport_files/sheet002.htm">

<link id="shLink">


<![endif]><!--[if gte mso 9]><xml>
 <x:ExcelWorkbook>
  <x:ExcelWorksheets>
   <x:ExcelWorksheet>
    <x:Name>All Projects</x:Name>
    <x:WorksheetOptions>
      <FreezePanes/>
      <FrozenNoSplit/>
      <SplitHorizontal>1</SplitHorizontal> 
      <TopRowBottomPane>1</TopRowBottomPane>
    </x:WorksheetOptions>
    <x:WorksheetSource HRef="AllProjectsReport_files/sheet001.htm"/>
   </x:ExcelWorksheet>
   <x:ExcelWorksheet>
    <x:Name>Item Type Project Matrix</x:Name>
    <x:WorksheetOptions>
      <FreezePanes/>
      <FrozenNoSplit/>
      <SplitHorizontal>1</SplitHorizontal> 
      <TopRowBottomPane>1</TopRowBottomPane>
    </x:WorksheetOptions>
    <x:WorksheetSource HRef="AllProjectsReport_files/sheet002.htm"/>
   </x:ExcelWorksheet>
  </x:ExcelWorksheets>
  <x:Stylesheet HRef="AllProjectsReport_files/stylesheet.css"/>
  <x:WindowHeight>12165</x:WindowHeight>
  <x:WindowWidth>27435</x:WindowWidth>
  <x:WindowTopX>930</x:WindowTopX>
  <x:WindowTopY>32767</x:WindowTopY>
  <x:ActiveSheet>0</x:ActiveSheet>
  <x:ProtectStructure>False</x:ProtectStructure>
  <x:ProtectWindows>False</x:ProtectWindows>
 </x:ExcelWorkbook>
</xml><![endif]-->
</head>

</html>


#########################################################################################################################
##
##  STYLES 
##
#########################################################################################################################
------=_NextPart_01D8DBD5.4D8FB410
Content-Location: file:///C:/61233B10/AllProjectsReport_files/stylesheet.css
Content-Type: text/css; charset="utf-8"

#* Paste your styles here, replacing the styles in this template. You do not need the opening and closing style tags. 
The styles are found by the template via the boundary and "Content-Location" *#
tr
  {mso-height-source:auto;}
col
  {mso-width-source:auto;}
br
  {mso-data-placement:same-cell;}
.style0
  {mso-number-format:General;
  text-align:left;
  vertical-align:top;
  white-space:nowrap;
  mso-rotate:0;
  mso-background-source:auto;
  mso-pattern:auto;
  color:black;
  font-size:11.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  border:none;
  mso-protection:locked visible;
  mso-style-name:Normal;
  mso-style-id:0;}
td
  {mso-style-parent:style0;
  padding-top:1px;
  padding-right:1px;
  padding-left:1px;
  mso-ignore:padding;
  color:black;
  font-size:11.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:left;
  vertical-align:top;
  border:none;
  mso-background-source:auto;
  mso-pattern:auto;
  mso-protection:locked visible;
  white-space:normal;
  mso-rotate:0;}
.xl63
  {mso-style-parent:style0;
  text-align:center;
  vertical-align:middle;}
.xl64
  {mso-style-parent:style0;
  text-align:center;}
.xl65
  {mso-style-parent:style0;
  color:black;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  text-align:center;
  vertical-align:middle;
  border:.5pt solid windowtext;
  white-space:normal;}
.xl66
  {mso-style-parent:style0;
  color:black;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  vertical-align:middle;
  border:.5pt solid windowtext;
  white-space:normal;}
.xl67
  {mso-style-parent:style0;
  color:black;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  mso-number-format:"mm\/dd\/yyyy";
  vertical-align:middle;
  text-align:center;
  border:.5pt solid windowtext;
  white-space:normal;}
.xl68
  {mso-style-parent:style0;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;}
.xl69
  {mso-style-parent:style0;
  color:black;
  font-size:12.0pt;
  font-weight:700;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  text-align:center;
  vertical-align:middle;
  border:.5pt solid windowtext;
  background:#A6C9EC;
  mso-pattern:black none;
  white-space:normal;}
.xl70
  {mso-style-parent:style0;
  font-size:14.0pt;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  vertical-align:middle;}
.xl71
  {mso-style-parent:style0;
  color:black;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  text-align:center;
  vertical-align:middle;
  text-align:left;
  font-weight:bold;
  border:.5pt solid windowtext;
  white-space:normal;}

#########################################################################################################################
##
##  MACROS
##
#########################################################################################################################
##
#########################################################################################################################
#########################################################################################################################
##          Macro: formatRichTextCell
##          Desc: Use on purely textual Rich Text Fields (I.e use directly in Cells)
##          Input: $inString - input string
##          Return: string, ready for opening in Word
#########################################################################################################################
#macro( formatRichTextCell $inString )
  #if( $inString )
    #set( $string = $inString.toString() )
    
    #set( $string = $string.replaceAll("<div.*?>|<\/div>",""))
    #set( $string = $string.replaceAll("<html.*?>|<html>", ""))
    #set( $string = $string.replaceAll("<span.*?>|<\/span>", ""))

    ## remove images ## 
    #set( $string = $string.replaceAll("<p.*?><img.*?><\/p>", ""))
    #set( $string = $string.replaceAll("<img.*?>",""))
    #set( $string = $string.replaceAll("<figure.*?>|<\/figure>", ""))
    #set( $string = $string.replaceAll("<svg.*?>|<\/svg>", ""))
    ## figure captions should not cause issue, replace at user discretion
    #set( $string = $string.replaceAll("<figcaption.*?>|<\/figcaption>",""))

    ## remove tables ## 
    #set( $string = $string.replaceAll("<table.*?>|<\/table>",""))
    #set( $string = $string.replaceAll("<col.*?>|<\/col>", ""))
    #set( $string = $string.replaceAll("<tbody.*?>|<\/tbody>",""))
    #set( $string = $string.replaceAll("<thead.*?>|<\/thead>",""))
    #set( $string = $string.replaceAll("<th.*?>(?:.|\s)*?<\/th>", ""))
    #set( $string = $string.replaceAll("<th.*?>|<\/th>", ""))
    #set( $string = $string.replaceAll("<tr.*?>|<\/tr>",""))
    #set( $string = $string.replaceAll("<td.*?>(?:.|\s)*?<\/td>", ""))
    #set( $string = $string.replaceAll("<td.*?>|<\/td>", ""))
    #set( $string = $string.replaceAll("<tfoot.*?>|<\/tfoot>",""))
    #set( $string = $string.replaceAll("<caption.*?>|<\/caption>",""))

    ## remove link tags
    #set( $string = $string.replaceAll("<\/?(a).*?>",""))

    ## replace list tags with a restructured list via <br>s and the bullet html entity
    #set( $string = $string.replaceAll("<ul.*?>","<br>"))
    #set( $string = $string.replaceAll("<ol>","<br>"))
    #set( $string = $string.replaceAll("<\/ol>|<\/ul>",""))
    #set( $string = $string.replaceAll("<li.*?>","&#x2022; "))
    #set( $string = $string.replaceAll("<\/li>","<br>"))

    ## Misc edge cases
    #set( $string = $string.replaceAll("\xA0",""))

    $string
  #end
#end
#########################################################################################################################
#########################################################################################################################
##          Macro: formatPlainText
##          Desc: Remove all possibly present html tags from text box field content
#########################################################################################################################
#macro( formatPlainText $inString)
  #if( $inString )
    #set( $string = $inString.toString() )
    #set( $string = $string.replaceAll("<(.|\n)*?>", ""))

    $string
  #end
#end

#########################################################################################################################
#macro( stripPlainText $text )
  #set($text = $text.replaceAll("<"," &lt;"))
  #set($text = $text.replaceAll(">"," &gt;"))
  $text
#end
#########################################################################################################################
##

#########################################################################################################################
##          lookupPickListColor
##          Input: item, the unique custom field name, the fetched picklist item
##          Output: String type hex code color 
##          Note: see example at base of template
##          Call Example: #lookupPickListColor($doc "<unique field name>" $<item variable with item data> )
##          Apply to cell: style='background:#$color;mso-pattern:#$color none;''
#########################################################################################################################
#macro( lookupPickListColor $doc $uniqueFieldName $fetchedFieldValue )
              
  #set( $docTypeField = $docTypeFieldDao.getDocumentTypeFieldByName( $uniqueFieldName, $doc.documentType.id ))
  #set( $lookupTypeId = $docTypeField.getLookupTypeId())
  #set( $fieldId = $docTypeField.documentField.id)
  #set( $lookupTypeList = [])
  #if( $lookupTypeList.add( $lookupTypeId ))#end
  #set( $getLookupIdsReturn = $lookupDao.getLookupIdsByLookupTypes($lookupTypeList))
  #set( $lookupValues = [])
  
  #foreach( $l in $getLookupIdsReturn)
  #set( $lookup = $lookupDao.getLookup($mathTool.toInteger($l)))
    #if( $lookupValues.add( $lookup)) #end
  #end
  #set( $color = 'FFFFFF')
  #foreach( $l in $lookupValues)
    #if( $l.name == $fetchedFieldValue )
      #set( $color = $l.color)
      #break
    #end
  #end

#end 
##
#########################################################################################################################
##          Macro: getHierarchyLevel
##          Input: $doc - document object
##                 $baselineMode - true: export was from a baseline, false: export was from the project
##                 $baselineId   - ID of the baseline that the items are part of, if in baseline mode
##          Output: $hierarchyLevel - number, which heading level this item is in Jama relative to the container
#########################################################################################################################
#macro( getHierarchyLevel $doc $baselineMode $baselineId )
  #set( $seqSubStrings = [] )
  #set( $hierarchyLevel = 1)
  ## Get hierarchy from the baseline
  #if( $baselineMode )
    #set( $docNode = $documentNodeDao.getDocumentNodeForBaseLine(5, $doc.id, $baselineId))
  ## Get hierarchy from the project
  #else
    #set( $docNode = $documentNodeDao.getDocumentNode(5, $doc.id))
  #end
  ##Debug: $docNode
  #set( $seqSubStrings = $docNode.sequence.split("\."))
  ##Debug: $seqSubStrings
  #set( $hierarchyLevel = $seqSubStrings.size())
  #if( !$hierarchyLevelTop )
    #set($hierarchyLevelTop = $hierarchyLevel)
  #end

  #set($hierarchyLevel = $hierarchyLevel - $hierarchyLevelTop + 1)
#end


#########################################################################################################################
##           Macro: getStatus
##           Input: $doc - document object
##           Output: $docStatus - status of the item
#########################################################################################################################
#macro( getStatus $doc )
  #set( $docStatus = false )
  #foreach( $docTypeField in $doc.documentType.documentTypeFields )
    #if( $docTypeField.documentField.name == "status" )
      #set ( $docStatus = $doc.status.name )
      #break
    #end
  #end
#end
##

#########################################################################################################################
##

#########################################################################################################################
##          Macro: getDate
##          Input: Java Time Zone ID to determine which timezone to display the date in
##          Output: Formatted date in the desired timezone
#########################################################################################################################
#macro( getDate $inputDate $inputTimeZone )
  #set( $outTz = $dateTool.getTimeZone().getTimeZone($inputTimeZone) )
  #set( $locale = $dateTool.getLocale() )
  $dateTool.format( 'MM/dd/yyyy', $inputDate, $locale, $outTz )
#end

#########################################################################################################################
#########################################################################################################################
##          Macro: getBaselineRelationships
##          Input: $currentVersionId - ID of the currentVersion of an item 
##                 $baselineId - ID of a baseline   
##                 $inDoc - current item
##                 $inDownstream - true provides downstream relationships, false provides upstream relationships    
##          Creates: $returnBaselineRels list of upstream Or downstream baseline relationships 
#########################################################################################################################
#macro( getBaselineRelationships $currentVersionId $baselineId $inDoc $inDownstream )
  #set( $start = 0 )
  #set( $count = 20 )
  #set( $versionedRelationships = [] )
  #set( $returnBaselineRels = [])
  #set( $pageSize = 20)
  #set( $relatedIds = [] )
  ##
  #set($baseRelsPage = $documentSource.getRelationships($currentVersionId,$baselineId,$start,$count))
  ##
  #set( $totalRels = [])
  #set( $totalRels = $baseRelsPage.getPageInfo().getTotalResults())
  ## DEBUG Baseline Page Info: $baseRelsPage.getPageInfo() <br><br>
  ## DEBUG Baseline Relationship Count: $baseRelsPage.getPageInfo().getTotalResults()<br><br>
  ## DEBUG Baseline Results: $baseRelsPage.getResults() 
  #if( $totalRels && $totalRels > 0)
    #set( $page_count = $mathTool.floor($mathTool.div($totalRels,$pageSize)) )
    #foreach( $page in [0..$page_count])
      #set( $baseRelsPage = $documentSource.getRelationships($currentVersionId,$baselineId,$start,$count))
      #set( $baseRelsPageResults = $baseRelsPage.getResults())
      #if( $baseRelsPageResults )
       #set( $success = $versionedRelationships.addAll($baseRelsPageResults ))
      #end 
      #set( $start = $start + $count)
    #end
  #end
  ##
  #foreach( $versionedRelationship in $versionedRelationships )
    #if( $inDownstream ) ## Get Downstream Relationships
      #set( $upItemId = $versionedRelationship.getFromItem().getValue().get(0) )
      #set( $upItemVersion = $versionedRelationship.getFromItem().getValue().get(1) )
      
      ## Get CountourItem by Id and Version ## 
      #set( $upDocVersion = $documentSource.getVersionByDocAndVersionNumber($upItemId,$upItemVersion))
      #set( $upDoc = $upDocVersion.document)

      #if( $inDoc.id == $upDoc.id ) 
        #set( $dnItemId = $versionedRelationship.getToItem().getValue().get(0) )
        #set( $dnItemVersion = $versionedRelationship.getToItem().getValue().get(1) )
    
        ## Get CountourItem by Id and Version ##  
        #set( $dnVersion = $documentSource.getVersionByDocAndVersionNumber($dnItemId,$dnItemVersion))
        #set( $dnDoc = $dnVersion.document ) 

        #if( !$relatedIds.contains($dnDoc.id) )
          #set( $success = $relatedIds.add($dnDoc.id) )
          #set( $success = $returnBaselineRels.add( {"fromDocument":$inDoc,"toDocument":$dnDoc} ) )
        #end
      #end 
    #else
      #set( $dnItemId = $versionedRelationship.getToItem().getValue().get(0) )
      #set( $dnItemVersion = $versionedRelationship.getToItem().getValue().get(1) )
      
      ## Get CountourItem by Id and Version ## 
      #set( $dnDocVersion = $documentSource.getVersionByDocAndVersionNumber($dnItemId,$dnItemVersion))
      #set( $dnDoc = $dnDocVersion.document)
    

      #if( $inDoc.id == $dnDoc.id ) ## Get Upstream Relationships
        #set( $upItemId = $versionedRelationship.getFromItem().getValue().get(0) )
        #set( $upItemVersion = $versionedRelationship.getFromItem().getValue().get(1) )
  
        ## Get CountourItem by Id and Version ##  
        #set( $upVersion = $documentSource.getVersionByDocAndVersionNumber($upItemId,$upItemVersion))
        #set( $upDoc = $upVersion.document ) 


        #if( !$relatedIds.contains( $upDoc.id) )
          #set( $success = $relatedIds.add( $upDoc.id) )
          #set( $success = $returnBaselineRels.add( {"fromDocument":$upDoc,"toDocument":$inDoc} ) )
        #end
      #end

    #end 
  #end
#end
#########################################################################################################################
##          Macro: getRelationships
##          Inputs: $baselineMode - GLOBAL, tells the report if the export was from a baseline or not 
##                  $baselineId - GLOBAL, ID of a baseline       
##                  $inDoc - current item
##                  $inDownstream - true provides downstream relationships, false provides upstream relationships
##          Creates: $returnRels - list of relationships with sub-elements of "fromItem" and "toItem" each of type 
##                   item
#########################################################################################################################
#macro( getRelationships $inDoc $inDownstream )
  #set( $returnRels = [] )

  #if( $baselineMode && $baselineId )
      #set( $inDocId = $inDoc.id )
      #* If the item is active then we have the most recent version of the item. 
      * The $inDoc.id is equivalent to the $inDoc.currentVersion.originDocument.id. 
      * Thus we utilize the $inDoc.id as it is the more efficient retrieval of that id. 
      * This 'current version' id will be utilized as the first argument in the method
      * getRelationships($currentVersionId,$baselineId,$start,$count)) in the #getBaselineRelationships macro. 
            *
      * If the item is not active, then we have a prior version of the item or the item has been deleted, 
      * but we still want it to show up in the baselined trace - we want to show every related 
      * item that existed when the baseline snapshot was made. In this case, to get the current version id of the 
      * non-active item we utilize $inDoc.currentVersion.originDocument.id.
      *#
      #if( !$inDoc.active )
        #set( $currentVersion = $inDoc.currentVersion ) 
        #set( $inDocId = $currentVersion.originDocument.id ) 
      #end 
      #getBaselineRelationships( $inDocId, $baselineId, $inDoc, $inDownstream ) ## Creates $returnBaselineRels 
      #set( $returnRels = $returnBaselineRels )
  #else

    #set( $rels = [] )
    #set ( $rels = $documentSource.getRelationshipsForDocument($inDoc.id, $inDownstream) )
    #foreach( $rel in $rels )
      #if( $inDownstream )  ## Get Downstream Relationships
        #if ( $rel.toDocument.active )
          #set( $success = $returnRels.add( $rel ) )
        #end
      #else                 ## Get Upstream Relationships
        #if ( $rel.fromDocument.active )
          #set( $success = $returnRels.add( $rel ) )
        #end
      #end
    #end
  #end
#end
##
######################################################################################################################
######################################################################################################################

#########################################################################################################################
##
##  BODY
##
#########################################################################################################################

#### Sheet 1: All Projects ####

------=_NextPart_01D8DBD5.4D8FB410
Content-Location: file:///C:/61233B10/AllProjectsReport_files/sheet001.htm
Content-Type: text/html; charset="utf-8"

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File href="../AllProjectsReport.htm">
<link rel=File-List href=filelist.xml>
<![if IE]>
<base href="file:///C:/61233B10/AllProjectsReport_files/sheet001.htm"
id="webarch_temp_base_tag">
<![endif]>
<link rel=Stylesheet href=stylesheet.css>
<style>
<!--table
  {mso-displayed-decimal-separator:"\.";
  mso-displayed-thousand-separator:"\,";}
@page
  {margin:.75in .7in .75in .7in;
  mso-header-margin:.3in;
  mso-footer-margin:.3in;}
-->
</style>

</head>

  
<body link="#0563C1" vlink="#954F72" class=xl65>


  <table border=0 cellpadding=0 cellspacing=0 width=2087 style='border-collapse:collapse;table-layout:fixed;width:1563pt'>
    <col class=xl63 width=71 style='mso-width-source:userset;mso-width-alt:2261;width:53pt'>
    <col class=xl64 width=127 style='mso-width-source:userset;mso-width-alt:4053;width:95pt'>
    <col width=287 span=2 style='mso-width-source:userset;mso-width-alt:9173;width:215pt'>
    <col width=167 style='mso-width-source:userset;mso-width-alt:5333;width:125pt'>
    <col width=127 style='mso-width-source:userset;mso-width-alt:4053;width:95pt'>
    #if($reportIncInactive)
      <col width=167 style='mso-width-source:userset;mso-width-alt:5333;width:125pt'>
    #end
    <col width=807 style='mso-width-source:userset;mso-width-alt:25813;width:605pt'>

    ## Column Headings
    <tr class=xl70 height=41 style='mso-height-source:userset;height:31.0pt'>
      <td height=41 class=xl69 width=71 x:autofiltervalue=all  x:autofilterrange=$filterRange style='height:31.0pt;width:53pt'>ID</td>
      <td class=xl69 width=127 style='border-left:none;width:95pt'>Project Key</td>
      <td class=xl69 width=287 style='border-left:none;width:215pt'>Name</td>
      <td class=xl69 width=167 style='border-left:none;width:125pt'>Project Link</td>
      <td class=xl69 width=167 style='border-left:none;width:125pt'>Manager</td>
      <td class=xl69 width=127 style='border-left:none;width:95pt'>Created Date</td>
      #if($reportIncInactive)
        <td class=xl69 width=167 style='border-left:none;width:125pt'>Active/Inactive</td>
      #end
      <td class=xl69 width=807 style='border-left:none;width:605pt'>Project Hierarchy Path</td>
    </tr>



    ## Instance Projects Dynamic Rows
    #set($projectList = $projectSource.getProjects($activeOnly))
    #foreach($project in $projectList)
      #if( !$project.isFolder )
        <tr class=xl68>
          ## Project ID
          <td class=xl65 width=71 style='border-top:none;width:53pt'>$project.id</td>

          ## Project Key
          <td class=xl65 width=127 style='border-top:none;border-left:none;width:95pt'>$project.projectKey</td>

          ## Project Name
          <td class=xl66 width=287 style='border-top:none;border-left:none;width:215pt'>$project.name</td>

          ## Project Link
          #if($project.active)
            <td class=xl66 width=287 style='border-top:none;border-left:none;width:215pt;font-style:italic;'><a href="$baseUrl/perspective.req#/projects/$project.id/dashboard/$project.id">$baseUrl/perspective.req#/projects/$project.id/dashboard/$project.id</a></td>
          #else
            <td class=xl66 width=287 style='border-top:none;border-left:none;width:215pt;font-style:italic;'><s>$baseUrl/perspective.req#/projects/$project.id/dashboard/$project.id</s></td>
          #end

          ## Project Manager
          #set($projectManager = $project.projectManager.fullName)
          <td class=xl66 width=167 style='border-top:none;border-left:none;width:125pt'>$!projectManager.trim()</td>


          ## Project Created Date
          <td class=xl67 align=center width=127 style='border-top:none;border-left:none;width:95pt'>#getDate($project.createdDate, $timeZone)</td>

          ## Project Active/Inactive State
          #if($reportIncInactive)
            #if($project.active)
              <td class=xl66 align=center width=167 style='background:#DAF2D0;mso-pattern:#DAF2D0 none;border-top:none;border-left:none;width:125pt'>Active</td>
            #else
              <td class=xl66 align=center width=167 style='background:#FBE2D5;mso-pattern:#FBE2D5 none;border-top:none;border-left:none;width:125pt'>Inactive</td>
            #end
          #end

          ## Project Path
          #set($path = "" )
          #set($parentId = false )
          #set($parentId = $project.parent )
          #foreach($i in [1..10] )
            #if(!$parentId )
              #set($path = "<b>$project.organization.name</b> - $path" )
              #break
            #else
              #set($parentProject = $projectSource.getProject($mathTool.toInteger($parentId)))
              #set($path = "$parentProject.name / $path" )
              #set($parentId = $parentProject.parent )
            #end
          #end
          <td class=xl66 width=807 style='border-top:none;border-left:none;width:605pt'>$!path.trim()</td>
        </tr>
      #end

    #end

  </table>

</body>


</html>


#### Sheet 2: Item Type Project Matrix ####

------=_NextPart_01D8DBD5.4D8FB410
Content-Location: file:///C:/61233B10/AllProjectsReport_files/sheet002.htm
Content-Type: text/html; charset="utf-8"

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File href="../AllProjectsReport.htm">
<link rel=File-List href=filelist.xml>
<![if IE]>
<base href="file:///C:/61233B10/AllProjectsReport_files/sheet002.htm"
id="webarch_temp_base_tag">
<![endif]>
<link rel=Stylesheet href=stylesheet.css>
<style>
<!--table
  {mso-displayed-decimal-separator:"\.";
  mso-displayed-thousand-separator:"\,";}
@page
  {margin:.75in .7in .75in .7in;
  mso-header-margin:.3in;
  mso-footer-margin:.3in;}
-->
</style>
</head>

  
<body link="#0563C1" vlink="#954F72" class=xl65>


## 1) All item types for this organization (same as Data Dictionary)
#set( $orgId    = $project.getOrganizationId() )
#set( $docTypes = $documentSource.getDocumentTypeListForOrganization($orgId) )

## 2) All ACTIVE, non-folder projects in the SAME org (no inactive, no deleted)
#set($allProjects = $projectSource.getProjects($activeOnly))
#set($projects = [])
#foreach($p in $allProjects)
  #if(!$p.isFolder && $p.getOrganizationId() == $orgId)
    #set($void = $projects.add($p))
  #end
#end

## 3) Cache type-count map for each project: projectId -> Map<docTypeId, count>
#set($projectTypeCount = {})
#foreach($proj in $projects)
  #set($pid = $proj.id)
  #set($typeCountMap = $documentSource.getAllItemTypesCount($pid))
  #if(!$typeCountMap)
    #set($typeCountMap = {})
  #end
  #set($void = $projectTypeCount.put($pid, $typeCountMap))
#end

## Calculate filter range for Worksheet 2: Use A:ZZ range to cover all possible columns
## Excel will show filters on all columns in the range, including empty ones
#set($filterRange2 = "$$A$$1:$$ZZ$$1")

<table border=0 cellpadding=0 cellspacing=0 style='border-collapse:collapse;table-layout:fixed;width:1563pt'>
  <col class=xl63 width=71 style='mso-width-source:userset;mso-width-alt:2261;width:53pt'>
  <col class=xl64 width=127 style='mso-width-source:userset;mso-width-alt:4053;width:95pt'>
  <col width=287 style='mso-width-source:userset;mso-width-alt:9173;width:215pt'>
  <tr>
    <td class="xl69" x:autofiltervalue=all x:autofilterrange=$filterRange2 style='border:.5pt solid windowtext;background:#A6C9EC;font-weight:700;text-align:center;font-size:12.0pt;'>ID</td>
    <td class="xl69" style='border:.5pt solid windowtext;border-left:none;background:#A6C9EC;font-weight:700;text-align:center;font-size:12.0pt;'>Project Key</td>
    <td class="xl69" style='border:.5pt solid windowtext;border-left:none;background:#A6C9EC;font-weight:700;text-align:center;font-size:12.0pt;'>Name</td>
    #if(!$docTypes || $docTypes.isEmpty())
      <td class="xl69" style='border:.5pt solid windowtext;border-left:none;background:#A6C9EC;font-weight:700;text-align:center;font-size:12.0pt;'>Item Type ID</td>
      <td class="xl69" style='border:.5pt solid windowtext;border-left:none;background:#A6C9EC;font-weight:700;text-align:center;font-size:12.0pt;'>Item Type Key</td>
      <td class="xl69" style='border:.5pt solid windowtext;border-left:none;background:#A6C9EC;font-weight:700;text-align:center;font-size:12.0pt;'>Item Type Name</td>
    #else
      #foreach($docType in $docTypes)
        <td class="xl69" style='border:.5pt solid windowtext;border-left:none;background:#A6C9EC;font-weight:700;text-align:center;font-size:12.0pt;'>
          $docType.getDocumentTypeKey()<br/>
          <span style="font-size:9.0pt;">$docType.getDisplay()</span>
        </td>
      #end
    #end
  </tr>

  #if($projects.isEmpty())
    <tr>
      <td colspan="3" style='border:.5pt solid windowtext;'>No projects found for this organization.</td>
      #if(!$docTypes || $docTypes.isEmpty())
        <td colspan="3" style='border:.5pt solid windowtext;border-left:none;'>No item types found for this organization.</td>
      #end
    </tr>
  #else
    #foreach($proj in $projects)
      <tr>
        <td class="xl65" style='border:.5pt solid windowtext;text-align:center;'>$proj.id</td>
        <td class="xl65" style='border:.5pt solid windowtext;border-left:none;text-align:center;'>$proj.projectKey</td>
        <td class="xl66" style='border:.5pt solid windowtext;border-left:none;'>$proj.name</td>

        #if(!$docTypes || $docTypes.isEmpty())
          <td colspan="3" style='border:.5pt solid windowtext;border-left:none;'>No item types found for this organization.</td>
        #else
          #set($pid = $proj.id)
          #set($typeCountMap = $projectTypeCount.get($pid))
          
          #foreach($docType in $docTypes)
            #set($count = 0)
            #if($typeCountMap)
              #set($tmp = $typeCountMap.get($docType.getId()))
              #if($tmp)
                #set($count = $tmp)
              #end
            #end

            #if($count && $count > 0)
              <td class="xl65" style='border:.5pt solid windowtext;border-left:none;text-align:center;'>X</td>
            #else
              <td class="xl65" style='border:.5pt solid windowtext;border-left:none;'>&nbsp;</td>
            #end
          #end
        #end
      </tr>
    #end
  #end
</table>


</body>


</html>

#########################################################################################################################
##
##  FILE LIST 
##
#########################################################################################################################

------=_NextPart_01D8DBD5.4D8FB410
Content-Location: file:///C:/61233B10/AllProjectsReport_files/filelist.xml
Content-Type: text/xml; charset="utf-8"

<xml xmlns:o="urn:schemas-microsoft-com:office:office">
 <o:MainFile HRef="../AllProjectsReport.htm"/>
 <o:File HRef="stylesheet.css"/>
 <o:File HRef="sheet001.htm"/>
 <o:File HRef="sheet002.htm"/>
 <o:File HRef="filelist.xml"/>
</xml>
------=_NextPart_01D8DBD5.4D8FB410--
