#set($org=$project.getOrganization().getId())<html>
<head1>Daily Usage of Jama Licenses usage last 30 days</head1>
<br><br>
Started print $dateTool 
<br><br>
<table border=1 cellspacing=0 cellpadding=0>
<tr>
<td>Date</td>
<td>Used</td>
<td>Failed Logins</td>
<td>Max Available</td>
<td>Used Named</td>
<td>Assigned Named</td>
</tr>
#if( $documentSource)
	#set($licSvc = $adminSource)
#else
	#set($licSvc = $applicationContext.getBean("dwrLicenseService"))
#end

#set( $licTypes = [])
#set( $licTypes = $licSvc.getAllOrgLicenseTypes())
##ORG: $org, <br>
#foreach( $l in $licTypes)
	##$l.name<br>
	#if ($l.name == "NAMED")
		#set($namedLicense = $l)
	#end
	#if ($l.name == "FLOATING")
		#set($floatingLicense = $l)
	#end

#end

#set($LicLastDays =$licSvc.getLicenseDataForLastNDays("last30Days", $org, $floatingLicense))
#set($NamedLastDays =$licSvc.getLicenseDataForLastNDays("last30Days",$org, $namedLicense))
##LI:$LicLastDays.size(), Named: $NamedLastDays.size()<br>


#set($cnt=0)
#foreach($LicDay in $LicLastDays)
	#set($NamedDay = $NamedLastDays.get($cnt))
	<tr>
	<td>
	$dateTool.format('yyyy-M-d',$LicDay.getIntervalStart())
	</td>
	<td>
	$LicDay.getNonReservedActiveLicenseCount()
	</td>
	<td>
	$LicDay.getNumberRejected()
	</td>
	<td>
	$LicDay.getMaxLicenseCount()
	</td>
	<td>
	$NamedDay.getNonReservedActiveLicenseCount()
	</td>
	<td>
	$NamedDay.getReservedLicenseCount()
	</td>
	</tr>
	#set($cnt=$cnt+1)
#end
</table>
<br><br>
Finished print $dateTool 
<br><br>
</html>
