<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <BASE href="${baseUrl}">
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 12">
    <meta name=Originator content="Microsoft Word 12">
    <title>Baseline to Current</title>
    ####3/24/2015 - Shawnna Williams - Fixed blank fields that were causing the variables to appear and breaking Word.
    <!--[if gte mso 9]>
    <?xml  version="1.0" encoding="UTF-8"?>
    <xml>
        <w:WordDocument>
            <w:View>Print</w:View>
            <w:Zoom>100</w:Zoom>
            <w:DoNotOptimizeForBrowser/>
        </w:WordDocument>
    </xml>
    <![endif]-->

    <style>
        <!--
        /* Font Definitions */
        @font-face {
            font-family: "Cambria Math";
            panose-1: 2 4 5 3 5 4 6 3 2 4;
            mso-font-charset: 0;
            mso-generic-font-family: roman;
            mso-font-pitch: variable;
            mso-font-signature: -536870145 1107305727 0 0 415 0;
        }

        @font-face {
            font-family: Cambria;
            panose-1: 2 4 5 3 5 4 6 3 2 4;
            mso-font-charset: 0;
            mso-generic-font-family: roman;
            mso-font-pitch: variable;
            mso-font-signature: -536870145 1073743103 0 0 415 0;
        }

        @font-face {
            font-family: Calibri;
            panose-1: 2 15 5 2 2 2 4 3 2 4;
            mso-font-charset: 0;
            mso-generic-font-family: swiss;
            mso-font-pitch: variable;
            mso-font-signature: -520092929 1073786111 9 0 415 0;
        }

        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            mso-style-unhide: no;
            mso-style-qformat: yes;
            mso-style-parent: "";
            margin-top: 0in;
            margin-right: 0in;
            margin-bottom: 6.0pt;
            margin-left: .5in;
            line-height: 115%;
            mso-pagination: widow-orphan;
            font-size: 10.0pt;
            mso-bidi-font-size: 10.0pt;
            font-family: "Arial", "sans-serif";
            mso-fareast-font-family: "Times New Roman";
            mso-bidi-font-family: "Times New Roman";
            mso-bidi-language: EN-US;
        }

        h1 {
            mso-style-priority: 9;
            mso-style-unhide: no;
            mso-style-qformat: yes;
            mso-style-link: "Heading 1 Char";
            mso-style-next: Normal;
            margin-top: 12.0pt;
            margin-right: 0in;
            margin-bottom: 6.0pt;
            margin-left: .3in;
            text-indent: -.3in;
            line-height: 115%;
            mso-pagination: widow-orphan;
            mso-outline-level: 1;
            mso-list: l3 level1 lfo49;
            font-size: 12.0pt;
            mso-bidi-font-size: 10.0pt;
            font-family: "Arial", "sans-serif";
            mso-bidi-font-family: "Times New Roman";
            mso-font-kerning: 0pt;
            mso-bidi-language: EN-US;
            font-weight: bold;
            mso-bidi-font-weight: normal;
        }

        h2 {
            mso-style-priority: 9;
            mso-style-unhide: no;
            mso-style-qformat: yes;
            mso-style-link: "Heading 2 Char";
            mso-style-next: Normal;
            margin-top: 10.0pt;
            margin-right: 0in;
            margin-bottom: 6.0pt;
            margin-left: .4in;
            text-indent: -.4in;
            line-height: 115%;
            mso-pagination: widow-orphan lines-together;
            page-break-after: avoid;
            mso-outline-level: 2;
            mso-list: l3 level2 lfo49;
            font-size: 12.0pt;
            font-family: "Arial", "sans-serif";
            color: #0D0D0D;
            mso-bidi-language: EN-US;
            font-weight: normal;
            mso-bidi-font-weight: bold;
        }

        h3 {
            mso-style-priority: 9;
            mso-style-unhide: no;
            mso-style-qformat: yes;
            mso-style-link: "Heading 3 Char";
            mso-style-next: Normal;
            margin-top: 10.0pt;
            margin-right: 0in;
            margin-bottom: 6.0pt;
            margin-left: .5in;
            text-indent: -.5in;
            line-height: 115%;
            mso-pagination: widow-orphan lines-together;
            page-break-after: avoid;
            mso-outline-level: 3;
            mso-list: l3 level3 lfo49;
            font-size: 12.0pt;
            font-family: "Arial", "sans-serif";
            color: #262626;
            mso-bidi-language: EN-US;
            font-weight: normal;
            mso-bidi-font-weight: bold;
        }

        h4 {
            mso-style-priority: 9;
            mso-style-unhide: no;
            mso-style-qformat: yes;
            mso-style-link: "Heading 4 Char";
            mso-style-next: Normal;
            margin-top: 10.0pt;
            margin-right: 0in;
            margin-bottom: 0in;
            margin-left: .6in;
            margin-bottom: .0001pt;
            text-indent: -.6in;
            line-height: 115%;
            mso-pagination: widow-orphan lines-together;
            page-break-after: avoid;
            mso-outline-level: 4;
            mso-list: l3 level4 lfo49;
            font-size: 12.0pt;
            mso-bidi-font-size: 10.0pt;
            font-family: "Arial", "sans-serif";
            mso-bidi-language: AR-SA;
            font-weight: normal;
            mso-bidi-font-weight: bold;
            font-style: italic;
        }

        p.MsoToc1, li.MsoToc1, div.MsoToc1 {
            mso-style-update: auto;
            mso-style-priority: 39;
            mso-style-unhide: no;
            mso-style-next: Normal;
            margin-top: 0in;
            margin-right: 0in;
            margin-bottom: 5.0pt;
            margin-left: 0in;
            line-height: 115%;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            mso-bidi-font-size: 10.0pt;
            font-family: "Arial", "sans-serif";
            mso-fareast-font-family: "Times New Roman";
            mso-bidi-font-family: "Times New Roman";
            mso-bidi-language: EN-US;
        }

        p.MsoToc2, li.MsoToc2, div.MsoToc2 {
            mso-style-update: auto;
            mso-style-priority: 39;
            mso-style-unhide: no;
            mso-style-next: Normal;
            margin-top: 0in;
            margin-right: 0in;
            margin-bottom: 5.0pt;
            margin-left: 12.0pt;
            line-height: 115%;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            mso-bidi-font-size: 10.0pt;
            font-family: "Arial", "sans-serif";
            mso-fareast-font-family: "Times New Roman";
            mso-bidi-font-family: "Times New Roman";
            mso-bidi-language: EN-US;
        }

        p.MsoCommentText, li.MsoCommentText, div.MsoCommentText {
            mso-style-unhide: no;
            mso-style-link: "Comment Text Char";
            margin-top: 0in;
            margin-right: 0in;
            margin-bottom: 6.0pt;
            margin-left: .5in;
            line-height: 115%;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            mso-bidi-font-size: 10.0pt;
            font-family: "Arial", "sans-serif";
            mso-fareast-font-family: "Times New Roman";
            mso-bidi-font-family: "Times New Roman";
            mso-bidi-language: EN-US;
        }

        p.MsoHeader, li.MsoHeader, div.MsoHeader {
            mso-style-unhide: no;
            mso-style-link: "Header Char";
            margin-top: 0in;
            margin-right: 0in;
            margin-bottom: 6.0pt;
            margin-left: .5in;
            line-height: 115%;
            mso-pagination: widow-orphan;
            tab-stops: right 6.5in;
            font-size: 8.0pt;
            mso-bidi-font-size: 10.0pt;
            font-family: "Arial";
            mso-bidi-language: EN-US;
        }

        p.MsoFooter, li.MsoFooter, div.MsoFooter {
            mso-style-update: auto;
            mso-style-priority: 99;
            mso-style-unhide: no;
            mso-style-link: "Footer Char";
            margin-top: 0in;
            margin-right: 0in;
            margin-bottom: 6.0pt;
            margin-left: .5in;
            line-height: 115%;
            mso-pagination: widow-orphan;
            tab-stops: 3.0in right 6.5in;
            border: none;
            mso-border-top-alt: solid #333333 .5pt;
            padding: 0in;
            mso-padding-alt: 1.0pt 0in 0in 0in;
            font-size: 8.0pt;
            mso-bidi-font-size: 10.0pt;
            font-family: "Arial";
            mso-bidi-language: EN-US;
        }

        span.MsoCommentReference {
            mso-style-unhide: no;
            mso-style-parent: "";
            mso-ansi-font-size: 8.0pt;
            mso-bidi-font-size: 8.0pt;
        }

        p.MsoListNumber4, li.MsoListNumber4, div.MsoListNumber4 {
            mso-style-unhide: no;
            mso-style-parent: "Heading 2";
            margin-top: 10.0pt;
            margin-right: 0in;
            margin-bottom: 6.0pt;
            margin-left: 0in;
            line-height: 115%;
            mso-pagination: widow-orphan lines-together;
            mso-outline-level: 2;
            font-size: 12.0pt;
            font-family: "Arial", "sans-serif";
            mso-fareast-font-family: "Times New Roman";
            color: #0D0D0D;
            mso-bidi-language: EN-US;
            mso-bidi-font-weight: bold;
        }

        p.MsoTitle, li.MsoTitle, div.MsoTitle {
            mso-style-priority: 10;
            mso-style-unhide: no;
            mso-style-qformat: yes;
            mso-style-link: "Title Char";
            mso-style-next: Normal;
            margin-top: 0in;
            margin-right: 0in;
            margin-bottom: 6.0pt;
            margin-left: 0in;
            line-height: 115%;
            mso-pagination: widow-orphan;
            border: none;
            mso-border-bottom-alt: solid windowtext .5pt;
            padding: 0in;
            mso-padding-alt: 0in 0in 1.0pt 0in;
            font-size: 12.0pt;
            mso-bidi-font-size: 10.0pt;
            font-family: "Arial";
            mso-bidi-font-weight: normal;
        }

        p.MsoBodyTextIndent, li.MsoBodyTextIndent, div.MsoBodyTextIndent {
            mso-style-name: "Body Text Indent\,Instruction 2\,Example questions - no hanging indent";
            mso-style-unhide: no;
            mso-style-link: "Body Text Indent Char\,Instruction 2 Char\,Example questions - no hanging indent Char";
            margin-top: 0in;
            margin-right: 0in;
            margin-bottom: 6.0pt;
            margin-left: .25in;
            line-height: 115%;
            mso-pagination: widow-orphan;
            font-size: 12.0pt;
            mso-bidi-font-size: 10.0pt;
            font-family: "Arial";
            mso-fareast-font-family: Times;
            mso-bidi-language: EN-US;
        }

        a:link, span.MsoHyperlink {
            mso-style-priority: 99;
            mso-style-parent: "";
            color: blue;
            text-decoration: underline;
            text-underline: single;
        }

        a:visited, span.MsoHyperlinkFollowed {
            mso-style-unhide: no;
            color: purple;
            mso-themecolor: followedhyperlink;
            text-decoration: underline;
            text-underline: single;
        }

        p {
            mso-style-unhide: no;
            margin-top: 0in;
            margin-right: 0in;
            margin-bottom: 6.0pt;
            margin-left: .5in;
            line-height: 115%;
            mso-pagination: widow-orphan;
            font-size: 10.0pt;
            font-family: "Arial";
            mso-bidi-language: EN-US;
        }

        p.MsoTocHeading, li.MsoTocHeading, div.MsoTocHeading {
            mso-style-noshow: yes;
            mso-style-priority: 39;
            mso-style-qformat: yes;
            mso-style-next: Normal;
            margin-top: 24.0pt;
            margin-right: 0in;
            margin-bottom: 0in;
            margin-left: .3in;
            margin-bottom: .0001pt;
            text-indent: -.3in;
            line-height: 115%;
            mso-pagination: widow-orphan lines-together;
            page-break-after: avoid;
            font-size: 14.0pt;
            font-family: "Arial";
            mso-ascii-font-family: Cambria;
            mso-ascii-theme-font: major-latin;
            color: #365F91;
            mso-themecolor: accent1;
            mso-themeshade: 191;
            mso-bidi-language: AR-SA;
            font-weight: bold;
        }

        span.Heading1Char {
            mso-style-name: "Heading 1 Char";
            mso-style-priority: 9;
            mso-style-unhide: no;
            mso-style-locked: yes;
            mso-style-link: "Heading 1";
            mso-ansi-font-size: 12.0pt;
            mso-bidi-language: EN-US;
            font-weight: bold;
            mso-bidi-font-weight: normal;
        }

        span.Heading2Char {
            mso-style-name: "Heading 2 Char";
            mso-style-priority: 9;
            mso-style-unhide: no;
            mso-style-locked: yes;
            mso-style-link: "Heading 2";
            mso-ansi-font-size: 12.0pt;
            mso-bidi-font-size: 12.0pt;
            font-family: "Arial", "sans-serif";
            mso-bidi-font-family: Arial;
            color: #0D0D0D;
            mso-bidi-language: EN-US;
            mso-bidi-font-weight: bold;
        }

        span.Heading3Char {
            mso-style-name: "Heading 3 Char";
            mso-style-priority: 9;
            mso-style-unhide: no;
            mso-style-locked: yes;
            mso-style-link: "Heading 3";
            mso-ansi-font-size: 12.0pt;
            mso-bidi-font-size: 12.0pt;
            font-family: "Arial", "sans-serif";
            mso-bidi-font-family: Arial;
            color: #262626;
            mso-bidi-language: EN-US;
            mso-bidi-font-weight: bold;
        }

        span.Heading4Char {
            mso-style-name: "Heading 4 Char";
            mso-style-priority: 9;
            mso-style-unhide: no;
            mso-style-locked: yes;
            mso-style-link: "Heading 4";
            mso-ansi-font-size: 12.0pt;
            font-family: "Arial", "sans-serif";
            mso-bidi-font-family: Arial;
            mso-bidi-font-weight: bold;
            font-style: italic;
        }

        span.Heading5Char {
            mso-style-name: "Heading 5 Char";
            mso-style-priority: 9;
            mso-style-unhide: no;
            mso-style-locked: yes;
            mso-style-link: "Heading 5";
            mso-ansi-font-size: 12.0pt;
            mso-bidi-font-size: 12.0pt;
            font-family: "Arial", "sans-serif";
            mso-bidi-font-family: Arial;
            color: #0D0D0D;
        }

        span.Heading6Char {
            mso-style-name: "Heading 6 Char";
            mso-style-priority: 9;
            mso-style-unhide: no;
            mso-style-locked: yes;
            mso-style-link: "Heading 6";
            mso-ansi-font-size: 12.0pt;
            font-family: "Cambria", "serif";
            mso-ascii-font-family: Cambria;
            mso-hansi-font-family: Cambria;
            mso-bidi-font-style: italic;
        }

        span.Heading7Char {
            mso-style-name: "Heading 7 Char";
            mso-style-priority: 9;
            mso-style-unhide: no;
            mso-style-locked: yes;
            mso-style-link: "Heading 7";
            mso-ansi-font-size: 12.0pt;
            font-style: italic;
        }

        span.Heading8Char {
            mso-style-name: "Heading 8 Char";
            mso-style-priority: 9;
            mso-style-unhide: no;
            mso-style-locked: yes;
            mso-style-link: "Heading 8";
            mso-ansi-font-size: 12.0pt;
            font-family: "Cambria", "serif";
            mso-ascii-font-family: Cambria;
            mso-hansi-font-family: Cambria;
        }

        span.Heading9Char {
            mso-style-name: "Heading 9 Char";
            mso-style-priority: 9;
            mso-style-unhide: no;
            mso-style-locked: yes;
            mso-style-link: "Heading 9";
            mso-ansi-font-size: 12.0pt;
            font-family: "Cambria", "serif";
            mso-ascii-font-family: Cambria;
            mso-hansi-font-family: Cambria;
            font-style: italic;
        }

        span.CommentTextChar {
            mso-style-name: "Comment Text Char";
            mso-style-unhide: no;
            mso-style-locked: yes;
            mso-style-link: "Comment Text";
            mso-ansi-font-size: 12.0pt;
            mso-bidi-language: EN-US;
        }

        span.HeaderChar {
            mso-style-name: "Header Char";
            mso-style-unhide: no;
            mso-style-locked: yes;
            mso-style-link: Header;
            mso-ansi-font-size: 8.0pt;
            mso-bidi-language: EN-US;
        }

        span.FooterChar {
            mso-style-name: "Footer Char";
            mso-style-priority: 99;
            mso-style-unhide: no;
            mso-style-locked: yes;
            mso-style-link: Footer;
            mso-ansi-font-size: 8.0pt;
            font-family: "Zurich Cn BT", "sans-serif";
            mso-ascii-font-family: "Zurich Cn BT";
            mso-hansi-font-family: "Zurich Cn BT";
            mso-bidi-language: EN-US;
        }

        .MsoChpDefault {
            mso-style-type: export-only;
            mso-default-props: yes;
            font-size: 10.0pt;
            mso-ansi-font-size: 10.0pt;
            mso-bidi-font-size: 10.0pt;
            mso-ascii-font-family: Arial;
            mso-hansi-font-family: Arial;
        }

        @page WordSection1 {
            size: 11.0in 8.5in;
            mso-page-orientation: landscape;
            mso-header: h1;
            mso-footer: f1;
            margin: 1.0in 1.0in 1.0in 1.0in;
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-paper-source: 0;
        }

        div.WordSection1 {
            page: WordSection1;
        }

        /* List Definitions */
        @list l0 {
            mso-list-id: -131;
            mso-list-type: simple;
            mso-list-template-ids: 1808975034;
        }
        @list l0:level1 {
            mso-level-tab-stop: 1.0in;
            mso-level-number-position: left;
            margin-left: 1.0in;
            text-indent: -.25in;
        }
        @list l1 {
            mso-list-id: 676617754;
            mso-list-template-ids: 695355158;
        }
        @list l1:level1 {
            mso-level-style-link: "Style Header 2 + Top\: \(Single solid line Violet  1 pt Line width\)1";
            mso-level-tab-stop: .25in;
            mso-level-number-position: left;
            margin-left: .25in;
            text-indent: -.25in;
        }
        @list l1:level2 {
            mso-level-text: "%1\.%2\.";
            mso-level-tab-stop: .55in;
            mso-level-number-position: left;
            margin-left: .55in;
            text-indent: -.3in;
        }
        @list l1:level3 {
            mso-level-text: "%1\.%2\.%3\.";
            mso-level-tab-stop: .85in;
            mso-level-number-position: left;
            margin-left: .85in;
            text-indent: -.35in;
        }
        @list l1:level4 {
            mso-level-text: "%1\.%2\.%3\.%4\.";
            mso-level-tab-stop: 1.25in;
            mso-level-number-position: left;
            margin-left: 1.2in;
            text-indent: -.45in;
        }
        @list l1:level5 {
            mso-level-text: "%1\.%2\.%3\.%4\.%5\.";
            mso-level-tab-stop: 1.75in;
            mso-level-number-position: left;
            margin-left: 1.55in;
            text-indent: -.55in;
        }
        @list l1:level6 {
            mso-level-text: "%1\.%2\.%3\.%4\.%5\.%6\.";
            mso-level-tab-stop: 2.0in;
            mso-level-number-position: left;
            margin-left: 1.9in;
            text-indent: -.65in;
        }
        @list l1:level7 {
            mso-level-text: "%1\.%2\.%3\.%4\.%5\.%6\.%7\.";
            mso-level-tab-stop: 2.5in;
            mso-level-number-position: left;
            margin-left: 2.25in;
            text-indent: -.75in;
        }
        @list l1:level8 {
            mso-level-text: "%1\.%2\.%3\.%4\.%5\.%6\.%7\.%8\.";
            mso-level-tab-stop: 2.75in;
            mso-level-number-position: left;
            margin-left: 2.6in;
            text-indent: -.85in;
        }
        @list l1:level9 {
            mso-level-text: "%1\.%2\.%3\.%4\.%5\.%6\.%7\.%8\.%9\.";
            mso-level-tab-stop: 3.25in;
            mso-level-number-position: left;
            margin-left: 3.0in;
            text-indent: -1.0in;
        }
        @list l2 {
            mso-list-id: 1517887597;
            mso-list-template-ids: -1791729342;
        }
        @list l2:level1 {
            mso-level-text:% 1;
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: .3in;
            text-indent: -.3in;
        }
        @list l2:level2 {
            mso-level-text: "%1\.%2";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: .4in;
            text-indent: -.4in;
        }
        @list l2:level3 {
            mso-level-text: "%1\.%2\.%3";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: .5in;
            text-indent: -.5in;
        }
        @list l2:level4 {
            mso-level-text: "%1\.%2\.%3\.%4";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: .6in;
            text-indent: -.6in;
        }
        @list l2:level5 {
            mso-level-text: "%1\.%2\.%3\.%4\.%5";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: .7in;
            text-indent: -.7in;
        }
        @list l2:level6 {
            mso-level-text: "%1\.%2\.%3\.%4\.%5\.%6";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: .8in;
            text-indent: -.8in;
        }
        @list l2:level7 {
            mso-level-text: "%1\.%2\.%3\.%4\.%5\.%6\.%7";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: .9in;
            text-indent: -.9in;
        }
        @list l2:level8 {
            mso-level-text: "%1\.%2\.%3\.%4\.%5\.%6\.%7\.%8";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: 1.0in;
            text-indent: -1.0in;
        }
        @list l2:level9 {
            mso-level-text: "%1\.%2\.%3\.%4\.%5\.%6\.%7\.%8\.%9";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: 1.1in;
            text-indent: -1.1in;
        }
        @list l3 {
            mso-list-id: 2138137811;
            mso-list-template-ids: 67698725;
        }
        @list l3:level1 {
            mso-level-style-link: "Heading 1";
            mso-level-text:% 1;
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: .3in;
            text-indent: -.3in;
        }
        @list l3:level2 {
            mso-level-style-link: "Heading 2";
            mso-level-text: "%1\.%2";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: .4in;
            text-indent: -.4in;
        }
        @list l3:level3 {
            mso-level-style-link: "Heading 3";
            mso-level-text: "%1\.%2\.%3";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: .5in;
            text-indent: -.5in;
        }
        @list l3:level4 {
            mso-level-style-link: "Heading 4";
            mso-level-text: "%1\.%2\.%3\.%4";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: .6in;
            text-indent: -.6in;
        }
        @list l3:level5 {
            mso-level-style-link: "Heading 5";
            mso-level-text: "%1\.%2\.%3\.%4\.%5";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: .7in;
            text-indent: -.7in;
        }
        @list l3:level6 {
            mso-level-style-link: "Heading 6";
            mso-level-text: "%1\.%2\.%3\.%4\.%5\.%6";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: .8in;
            text-indent: -.8in;
        }
        @list l3:level7 {
            mso-level-style-link: "Heading 7";
            mso-level-text: "%1\.%2\.%3\.%4\.%5\.%6\.%7";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: .9in;
            text-indent: -.9in;
        }
        @list l3:level8 {
            mso-level-style-link: "Heading 8";
            mso-level-text: "%1\.%2\.%3\.%4\.%5\.%6\.%7\.%8";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: 1.0in;
            text-indent: -1.0in;
        }
        @list l3:level9 {
            mso-level-style-link: "Heading 9";
            mso-level-text: "%1\.%2\.%3\.%4\.%5\.%6\.%7\.%8\.%9";
            mso-level-tab-stop: none;
            mso-level-number-position: left;
            margin-left: 1.1in;
            text-indent: -1.1in;
        }
        ol {
            margin-bottom: 0in;
        }

        ul {
            margin-bottom: 0in;
        }

        td img {
            object-fit: contain;
            display: block;
        }

        table {
            table-layout: fixed;
        }

        table td {
            word-wrap: break-word;
        }

        p.toobig {
            text-align: center;
        }

        /*
       * DIFF Service Styles
       *
      */

        /*
         * Styles for the Tag Diff
         */
        span.diff-tag-html {
            font-family: "Andale Mono" monospace;
            font-size: 80%;
        }

        span.diff-tag-removed {
            font-size: 100%;
            text-decoration: line-through;
            background-color: #fdc6c6; /* light red */
        }

        span.diff-tag-added {
            font-size: 100%;
            background-color: #ccffcc; /* light green */
        }

        span.diff-tag-conflict {
            font-size: 100%;
            background-color: #f781be; /* light rose */
        }

        /*
         * Styles for the HTML Diff
         */
        span.diff-html-added {
            font-size: 100%;
            color: #00a551;
            border-bottom: 1px dotted #00a551;
        }

        span.diff-html-removed {
            font-size: 100%;
            background-color: #fcddde; /* light red */
            color: #ec1c24
        }

        .inline-diffs span.diff-html-added {
            background-repeat: no-repeat;
        }

        .inline-diffs span.diff-html-added, .inline-diffs span.diff-html-removed {
            font-size: 100%;
            cursor: pointer;
            padding: 0 0 0 18px;
            margin-right: 0.2em;
            text-decoration: none;
            cursor: pointer;
        }

        .inline-diffs span.diff-html-removed {
            background-repeat: no-repeat;
        }

        span.diff-html-removed.closed {
            width: 0;
            overflow: hidden;
            display: inline-block;
            height: 1em;
        }

        span.diff-html-added.closed {
            color: inherit;
            overflow: inherit;
            display: inline;
            height: auto;
            width: auto;
            border-bottom: inherit;
            display: inline;
        }

        span.diff-html-changed {
            *background-color: #c6c6fd; /* light blue */
            cursor: pointer;
        }

        span.diff-html-conflict {
            background-color: #f781be; /* light rose */
        }

        span.diff-html-selected {
            background-color: #FF8800; /* light orange */
            cursor: pointer;
        }

        span.diff-html-selected img {
            border: 2px solid #FF8800; /* light orange */
        }

        span.diff-html-added img {
            border: 2px solid #ccffcc;
        }

        span.diff-html-removed img {
            border: 2px solid #fdc6c6;
            border-bottom-width: 0;
            border-top-width: 0;
        }

        span.diff-html-changed img {
            border: 2px dotted #000099;

        }

        div.diff-removed-image, div.diff-added-image, div.diff-conflict-image {
            height: 300px;
            width: 200px;
            position: absolute;
            opacity: 0.55;
            filter: alpha(opacity=55);
            -moz-opacity: 0.55;
        }

        div.diff-removed-image, div.diff-added-image, div.diff-conflict-image {
            margin-top: 2px;
            margin-bottom: 2px;
            margin-right: 2px;
            margin-left: 2px;
        }

        div.diff-removed-image {
            background-color: #fdc6c6;
        }

        div.diff-added-image {
            background-color: #ccffcc;
            background-repeat: no-repeat;
        }

        div.diff-conflict-image {
            background-color: #f781be;
            background-repeat: no-repeat;
        }

        img.diff-icon {
            background-color: #FF8800;
            width: 16px;
            height: 16px;
            border: 0 none;
        }

        table.diff-tooltip-link, table.diff-tooltip-link-changed {
            width: 100%;
            text-align: center;
            Vertical-align: middle;
        }

        table.diff-tooltip-link-changed {
            border-top: thin dashed #000000;
            margin-top: 3px;
            padding-top: 3px
        }

        td.diff-tooltip-prev {
            text-align: left;
        }

        td.diff-tooltip-next {
            text-align: right;
        }

        table.diffpage-html-firstlast {
            width: 100%;
            Vertical-align: middle;
        }

        div.diff-topbar {
            border-bottom: 2px solid #FF8800;
            border-left: 1px solid #FF8800;
            border-right: 1px solid #FF8800;
            background-color: #FFF5F5;
        }

        a.diffpage-html-a, a.diffpage-html-a:hover, a.diffpage-html-a:link, a.diffpage-html-a:visited, a.diffpage-html-a:active {
            text-decoration: none;
            color: #FF8800;
        }

        .diffpage-html-firstlast a img, .dsydiff-prevnextnav a img {
            vertical-align: middle;
        }


        -->
    </style>
    <!--[if gte mso 10]>
    <style>
        /* Style Definitions */
        table.MsoNormalTable {
            mso-style-name: "Table Normal";
            mso-tstyle-rowband-size: 0;
            mso-tstyle-colband-size: 0;
            mso-style-noshow: yes;
            mso-style-priority: 99;
            mso-style-qformat: yes;
            mso-style-parent: "";
            mso-padding-alt: 0in 5.4pt 0in 5.4pt;
            mso-para-margin: 0in;
            mso-para-margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 10.0pt;
            font-family: "Arial", "sans-serif";
            mso-bidi-font-family: "Times New Roman";
        }

        table.MsoTableGrid {
            mso-style-name: "Table Grid";
            mso-tstyle-rowband-size: 0;
            mso-tstyle-colband-size: 0;
            mso-style-priority: 59;
            mso-style-unhide: no;
            border: solid windowtext 1.0pt;
            mso-border-alt: solid windowtext .5pt;
            mso-padding-alt: 0in 5.4pt 0in 5.4pt;
            mso-border-insideh: .5pt solid windowtext;
            mso-border-insidev: .5pt solid windowtext;
            mso-para-margin: 0in;
            mso-para-margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            font-size: 10.0pt;
            font-family: "Arial", "sans-serif";
            mso-bidi-font-family: "Times New Roman";
        }


    </style>
    <![endif]-->

</head>

<body bgcolor=white lang=EN-US link=blue vlink=purple style='tab-interval:.5in' leftmargin=0 topmargin=0 marginwidth=0
      marginheight=0 alink="#660000">

    #set($baseDao = $baselineSource)
    #set($docNodeDao = $documentSource)
    #set($docDao = $documentSource)
    #set($verDao = $documentSource)
    #set($userDao = $userSource)
    #set($documentNodeManager = $documentSource)
    #set($releaseDao = $releaseSource)
    #set($dtDao = $documentSource)
    #set($documentService = $documentSource)
    #set($relDao = $documentSource)

    #set($docNodes = [] )
    #set($deleted = [] )
    #set($allActives = [])
    #set($dnIdList = [])
    #set($docList = [] )
    #set($found = 'no')
    #set($count=0)
    #set($maxDiff = 10000)

    #################### Load list of first baseline document nodes - nodes so can sort on global ID #################
    #foreach($doc in $baseDao.getDocumentIds( $mathTool.toInteger( $report_baseline )))
        #set($dN=$docNodeDao.getDocumentNodeForBaseLine( 5, $doc,$mathTool.toInteger( $report_baseline )))
        #if($dN.scopeId == 5)
            #if( $docNodes.add($dN))#end
        #end
    #end

    #################### get data about first baseline #################
    #set($baseData = $baseDao.getBaseLine($mathTool.toInteger( $report_baseline )) )

    #################### if first baseline created from release, go get all current versions for said release #################
    #if($baseData.scopeId == 9)
        #set($firstItem = $docDao.getDocument($docNodes.get(0).refId))
        #foreach($r in $releaseDao.getDocumentsForRelease( $firstItem.release.id ) )
            #if( $allActives.add($r.id))#end
        #end
    #end

<div class=WordSection1>
    #################### output cover page #################
    <p class=MsoNormal style='margin-left:0in'><span style='font-size:24.0pt;line-height:115%'>Jama</span></p>
    <p class=MsoNormal style='margin-left:0in'><span style='font-size:16.0pt;line-height:115%'>Baseline to Current Comparison Report</span>
    </p>
    <p class=MsoNormal style='margin-left:0in'><span style='font-size:16.0pt;line-height:115%'>&nbsp;</span></p>
    <p class=MsoNormal style='margin-left:0in'><span style='font-size:16.0pt;line-height:115%'>&nbsp;</span></p>
    <p class=MsoNormal style='margin-left:0in'><span style='font-size:16.0pt;line-height:115%'>&nbsp;</span></p>
    <p class=MsoNormal style='margin-left:0in'><span
            style='font-size:16.0pt;line-height:115%'>Baseline $baseData.name</span></p>
    <p class=MsoNormal style='margin-left:0in'><span
            style='font-size:12.0pt;line-height:115%'>Created by $userDao.getUserFullName($baseData.createdBy)
								on $dateTool.format('MMM d, yyyy',$baseData.createdDate)</span></p>
<p class=MsoNormal>&nbsp;
    #if ($format == "doc")
        <p class=MsoNormal>&nbsp;
            <span style='mso-break-type:section-break'></span>
            <br clear=all style='page-break-before:always;'>
        </p>

        <p class=MsoNormal style='margin-left:0in'><span style='font-size:16.0pt;line-height:115%'>Contents</span></p>
        <span style='mso-break-type:section-break'></span>
        <!--[if supportFields]> <span style='mso-element:field-begin'></span>
    <span style='mso-field-code:" TOC \o 1-3 "'>Click here and F9</span><![endif]-->
        <!--[if supportFields]><span style='mso-element:field-end'></span> <![endif]-->
        <p class=MsoNormal>&nbsp;
            <span style='mso-break-type:section-break'></span>
            <br clear=all style='page-break-before:always;'></p>
    #end

    ################### output updated fields#################
    <h1>UPDATED ITEMS</h1>

    #foreach($node in $sortTool.sort($docNodes,"globalSortOrder"))
        #set($baseDoc = $docDao.getDocument($node.refId))
        #set($activeId = $verDao.getVersionByDocumentId($baseDoc.id).originDocument.id)
        #set($activeDoc = $docDao.getDocument($activeId))
        #set($actDN = $docNodeDao.getDocumentNode(5,$activeDoc.id))
        #################### look for containers and load active versions into list of all active version of baselined items #################
        #if(($activeDoc.documentType.display == "Set" || $activeDoc.documentType.display ==
            "Component" || $activeDoc.documentType.display == "Folder")
        && ($baseData.scopeId != 9)
        && (!$allActives.contains($activeDoc.id)))
            #foreach($act in $documentNodeManager.getSubTreeIds($mathTool.toInteger($report_project), 5, $activeDoc.id, null))
                #if( $allActives.add($act))#end
            #end
        #end
        ###################### check to see if item type field's have been collected ###################
        #foreach($a in $docList)
            #if($a.get(0) == $baseDoc.documentType.id)
                #set($found = 'yes')
                #break
            #end
            #set($count=$count+1)
        #end
        ###################### load item type fields ###################
        #if($found == 'no')
            #set($docField = [] )
            #if($docField.add($baseDoc.documentType.id))#end
            #foreach($d in $dtDao.getDocumentTypeFieldListByType($baseDoc.documentType.id))
                #if($docField.add($d.documentField.name))#end
            #end
            #if($docList.add($docField))#end
            #set($count=$count+1)
        #end
        #set($found = 'no')
        ###################### find deleted items - scopeId means baseline created from a release ###################
        #set($relChg = false)
        #if(($baseData.scopeId == 9) && ($baseDoc.release.name != $activeDoc.release.name))
            #if( $deleted.add( $activeDoc ) )#end
            #set($relChg = true)
        #elseif(!$activeDoc.active)
            #if( $deleted.add( $baseDoc ) )#end
        #end

        #if( $includeRelationships == true)
            ##Get relationship changes
            #set($start = 0)
            #set($count = 20)
            #set( $pageSize = 20)
            #set( $base1Rels = [])
            #set( $base1RelsPage = [])
            #set( $activeRelsDown = [])
            #set( $activeRelsUp = [])

            ##Baseline id: $r1, item id: $baseDoc.id, Origin Doc: $orginDoc.id
            ##Active id:  $activeId, BaseDoc: $baseDoc.id<br>

            #set($activeRelsDown = $relDao.getRelationshipsForDocument($activeId, true))
            #set($activeRelsUp = $relDao.getRelationshipsForDocument($activeId, false))

            #set($base1RelsPage = $documentSource.getRelationships($activeId,$mathTool.toInteger( $report_baseline),$start,$count))
            #set( $totalRels1 = [])
            #set( $totalRels1 = $base1RelsPage.getPageInfo().getTotalResults())

            #if( $totalRels1)
                #set( $page_count = $mathTool.floor($mathTool.div($totalRels1,$pageSize)) )
                #foreach( $page in [0..$page_count])
                    #set($base1RelsPage = $documentSource.getRelationships($activeId,$mathTool.toInteger( $report_baseline),$start,$count))
                    #if( $base1RelsPage.getResults())
                        ##Base1: $base1RelsPage.getResults()
                        #set( $addIsSuccessful = $base1Rels.addAll( $base1RelsPage.getResults()) )
                    #end
                    #set( $start = $start + $count)
                #end
            #end

            ##Active Up: $activeRelsUp<br>
            ##Active Down: $activeRelsDown<br>
            #set( $relsMatch = false)

            #if( !$base1Rels.size())
                #set( $base1RelsSize = 0)
            #else
                #set( $base1RelsSize = $base1Rels.size())
            #end

            ##Base1rels: $base1Rels.getResults().size() Base1RelsSize: $base1RelsSize ActiveDown: $activeRelsDown.size() Active Up: $activeRelsUp.size()<br>
            ##Baseline1size: $base1Rels.getResults().size(), Baseline 2 size: $base2Rels.getResults().size()<br>
            #if( $base1RelsSize == ($activeRelsDown.size() + $activeRelsUp.size()))

                #if( $base1RelsSize == 0 && $activeRelsDown.size() == 0 && $activeRelsUp.size() == 0)
                    #set( $relsMatch = true)
                #else
                    ##The size might match, but the relationship numbers might not, so need to check each rel.
                    #set( $sameRel = 0)
                    ##foreach( $rel1 in $base1Rels.getResults())
                    #foreach( $rel1 in $base1Rels)
                        #foreach( $rel2 in $activeRelsDown)
                            ##if( $rel1.fromDocument.id == $rel2.fromDocument.id &&  $rel1.toDocument.id == $rel2.toDocument.id)
                            #if( $rel2.id == $rel1.id)
                                #set( $sameRel = $sameRel + 1)
                                #break
                            #end
                        #end
                        #foreach( $rel2 in $activeRelsUp)
                            ##if( $rel1.fromDocument.id == $rel2.fromDocument.id &&  $rel1.toDocument.id == $rel2.toDocument.id)
                            #if( $rel2.id == $rel1.id)
                                #set( $sameRel = $sameRel + 1)
                                #break
                            #end
                        #end
                    #end

                    #if( $base1RelsSize == $sameRel)
                        #set( $relsMatch = true)
                    #end
                #end
            #elseif( $base1RelsSize != ($activeRelsDown.size() + $activeRelsUp.size()) )
                ##rels don't match, so keep the $relsMatch == false
            #end
        #else
            ##Making it so the report thinks the relationships match (because the user doesn't care about relationships)
            #set( $relsMatch = true)
        #end ##End checking the relationships

        #set($bVer = $verDao.getVersionByDocumentId($baseDoc.id))
        #set($aVer = $verDao.getVersionByDocumentId($activeId))
        #if((($baseDoc.id != $activeId) && $activeDoc.active) || ($relsMatch == false && $activeDoc.active))
            ##$baseDoc.documentKey Base doc: $baseDoc.id ActiveDoc: $activeDoc.id RelsMatch: $relsMatch  $activeDoc.active<br>
            #if(!$relChg)
                #if( $dnIdList.add( $activeDoc.id))#end
                #set($index = $count - 1)
                #set($spot = 0)
                <h2>
                    <a href="perspective.req?projectId=$activeDoc.project.id&docId=$activeDoc.id">$baseDoc.documentKey</a> $baseDoc.name
                </h2>
                <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0"
                       style='margin-left:.5in;border-collapse:collapse;border:none;mso-border-alt: solid windowtext .5pt;mso-yfti-tbllook:1184;padding:.05in 5.75pt 0in 5.75pt'>
                    <thead>
                    <tr>
                        <td colspan="3"><p class=MsoNormal align=center>Baseline v$bVer.versionNumber compared to
                            Current v$aVer.versionNumber</p></td>
                    </tr>
                    <tr>
                        <td style='width:1.0in;background:#CCCCCC;padding:.05in 5.75pt 0in 5.75pt'>
                            <p class=MsoNormal align=center style='margin-left:0in;text-align:center'>Field Label</p>
                        </td>
                        <td colspan="2" style='width:7in;background:#CCCCCC;padding:.05in 5.75pt 0in 5.75pt'>
                            <p class=MsoNormal align=center>Differences</p>
                        </td>
                    </tr>
                    </thead>
                    #set($foundChg = 0)
                    #foreach($dl in    $docList)
                        #if($dl.get(0) == $baseDoc.documentType.id)
                            #foreach($b in $dl)
                                #if($spot != 0)
                                    #set($val1 = $velocityReportUtil.getValueForField($baseDoc, $b, $dateFormat))
                                    #set($val2 = $velocityReportUtil.getValueForField($activeDoc, $b, $dateFormat))
                                    #if( $val1 != $val2 )
                                        #set($foundChg = 1)
                                        <tr>
                                            <td valign=top
                                                style='border:solid windowtext 1.0pt;border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:5.4pt 5.4pt 0in 4.05pt'>
                                                <p class="MsoNormal" style='margin-left:0in'>
                                                    $dtDao.getDocumentTypeFieldByName($b,$baseDoc.documentType.id).label
                                                </p>
                                            </td>
                                            <td colspan="2" valign=top
                                                style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;padding:5.4pt 5.4pt 0in 5.4pt'>
                                            <p class="MsoNormal" style='margin-left:0in;'>
                                                #if($b != "testCaseSteps")
                                                    #if( $velocityReportUtil.getValueForField($baseDoc, $b, $dateFormat))
                                                        #set($beforeVal = $velocityReportUtil.getValueForField($baseDoc, $b, $dateFormat))
                                                        #set($afterVal = $velocityReportUtil.getValueForField($activeDoc, $b, $dateFormat))
                                                        #if($beforeVal.length() > $maxDiff || $afterVal.length() > $maxDiff)
                                                            <p class="toobig">Field is too large to diff</p>
                                                        #else
                                                            $diffService.getDiff($beforeVal, $afterVal)
                                                        #end
                                                    #end
                                                #else
                                                    #set($baseSteps = $baseDoc.testCaseSteps)
                                                    #set($activeSteps = $activeDoc.testCaseSteps)
                                                    #set($length = $mathTool.max($baseSteps.size(), $activeSteps.size()))
                                                    #set($stepNum = [1..$length])
                                                    #foreach($i in $stepNum)
                                                        #set($beforeStep = "")
                                                        #set($afterStep = "")
                                                        #set($index = $i - 1)
                                                        #if($i <= $baseSteps.size())
                                                            #set($beforeStep = $baseSteps.get($index))
                                                            #set($beforeStepText =
                                                                "<p class='MsoNormal' style='margin-left:0in'><b>" + $i
                                                            +".</b> " + $!beforeStep.action
                                                            + "<p class='MsoNormal' style='margin-left:8pt'><b>Expected Results:</b> " + $beforeStep.expectedResult
                                                            + "<p class='MsoNormal' style='margin-left:8pt'><b>Notes:</b> " + $beforeStep.notes)
                                                        #else
                                                            #set($beforeStepText =
                                                                "<p class='MsoNormal' style='margin-left:0in'><b>"+ $i +
                                                                ".</b> ")
                                                        #end
                                                        #if($i <= $activeSteps.size())
                                                            #set($afterStep = $activeSteps.get($index))
                                                            #set($afterStepText =
                                                                "<p class='MsoNormal' style='margin-left:0in'><b>" + $i
                                                            + ".</b> " + $afterStep.action
                                                            + "<p class='MsoNormal' style='margin-left:8pt'><b>Expected Results:</b> " + $afterStep.expectedResult
                                                            + "<p class='MsoNormal' style='margin-left:8pt'><b>Notes:</b> " + $afterStep.notes)
                                                        #else
                                                            #set($afterStepText =
                                                                "<p class='MsoNormal' style='margin-left:0in'><b>"+ $i +
                                                                ".</b> ")
                                                        #end
                                                        #if($beforeStepText.length() > $maxDiff || $afterStepText.length() > $maxDiff)
                                                            <p class="toobig">Field is too large to diff</p>
                                                        #else
                                                            $diffService.getDiff($beforeStepText, $afterStepText)
                                                        #end
                                                    #end
                                                #end
                                                </p>
                                            </td>
                                        </tr>
                                    #end
                                #end
                                #set($spot = 1)
                            #end
                            #if($foundChg == 0)
                                <tr>
                                    <td colspan="3" valign=top
                                        style='border:solid windowtext 1.0pt;border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:5.4pt 5.4pt 0in 4.05pt'>
                                        <p class="MsoNormal" style='margin-left:0in'>
                                            All item fields have been reset to the Baseline 1 state or have not been
                                            changed. Refer to version comments for history. If no version comments
                                            exist, the fields have not changed.
                                        </p>
                                    </td>
                                </tr>
                            #end

                            #if( $includeRelationships == true)

                                ##if( $base1Rels.getResults().size() != 0 || $activeRelsDown.size() != 0 || $activeRelsUp.size() != 0)
                                #if( $relsMatch == false)
                                    <tr>
                                        <td rowspan="2" valign=top
                                            style='border:solid windowtext 1.0pt;border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt; padding:5.4pt 5.4pt 0in 4.05pt'>
                                            <p class="MsoNormal" style='margin-left:0in'>
                                                Relationships
                                            </p>
                                        </td>
                                        <td width=365
                                            style='width:3.8in;background:#CCCCCC;padding:.05in 5.75pt 0in 5.75pt'>
                                            <p
                                                    class=MsoNormal align=center>Baseline v$bVer.versionNumber</p>
                                        </td>
                                        <td width=365
                                            style='width:3.8in;background:#CCCCCC;padding:.05in 5.75pt 0in 5.75pt'>
                                            <p
                                                    class=MsoNormal align=center>Baseline v$aVer.versionNumber</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign=top
                                            style='width:3.8in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;padding:5.4pt 5.4pt 0in 5.4pt;width:4.0n'>
                                        <p class="MsoNormal" style='margin-left:0in;'>
                                            #foreach( $versionedRelationship in $base1Rels )
											##<h4>Relationship ID: $versionedRelationship.getId()</h4>
                                                <p>
                                                    ##suspect: $versionedRelationship.getSuspect() <br><br>
                                                    #set($fromItemId = $versionedRelationship.getFromItem().getValue().get(0))
                                                    ###set($fromItemVersion = $versionedRelationship.getFromItem().getValue().get(1))
                                                    #set($toItemId = $versionedRelationship.getToItem().getValue().get(0))
                                                    ##set($toItemVersion = $versionedRelationship.getToItem().getValue().get(1))

                                                    ##From ItemId: $fromItemId, To docID: $toItemId BaseDocid: $baseDoc.id Active ID: $activeId<br>
                                                    #if( $fromItemId == $activeDoc.id)
                                                        #set( $fromItem = $activeDoc)
                                                        #set($toItemId = $versionedRelationship.getToItem().getValue().get(0))
                                                        #set($toItemVersion = $versionedRelationship.getToItem().getValue().get(1))
                                                        #set($toItem = $documentSource.getItem($toItemId , $toItemVersion))
                                                    #elseif( $toItemId == $activeDoc.id)
                                                        #set( $toItem = $activeDoc)
                                                        #set($fromItemId = $versionedRelationship.getFromItem().getValue().get(0))
                                                        #set($fromItemVersion = $versionedRelationship.getFromItem().getValue().get(1))
                                                        #set($fromItem = $documentSource.getItem($fromItemId , $fromItemVersion))
                                                    #end

                                                    ##set($fromItem = $documentSource.getItem($fromItemId , $fromItemVersion))
                                                    ##fromItem ID: $fromItem.getId() <br>
                                                    ##fromItem DocKey: $fromItem.getDocumentKey() <br>
                                                    ##fromItem Version: $fromItemVersion <br><br>

                                                    ##set($toItem = $documentSource.getItem($toItemId , $toItemVersion))
                                                    ##toItem ID: $toItem.getId() <br>
                                                    ##toItem DocKey: $toItem.getDocumentKey() <br>
                                                    ##toItem Version: $toItemVersion <br><br>

                                                    <a href="perspective.req?projectId=$fromItem.project.id&docId=$fromItem.id">$fromItem.documentKey</a>
                                                    --> <a
                                                        href="perspective.req?projectId=$toItem.project.id&docId=$toItem.id">$toItem.documentKey</a>
                                                    <br> <br>
                                                </p>
                                            #end
                                            </p>
                                        </td>
                                        <td valign=top
                                            style='border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;padding:5.4pt 5.4pt 0in 4.05pt'>
                                        <p class="MsoNormal" style='margin-left:0in'>
                                            #foreach( $rel in $activeRelsUp )
                                                <p>
                                                    #set( $fromItem = $rel.fromDocument)
                                                    #set( $toItem = $rel.toDocument)

                                                    <a href="perspective.req?projectId=$fromItem.project.id&docId=$fromItem.id">$fromItem.documentKey</a>
                                                    --> <a
                                                        href="perspective.req?projectId=$toItem.project.id&docId=$toItem.id">$toItem.documentKey</a>
                                                    <br> <br>
                                                </p>
                                            #end
                                            ##Active Down:$activeRelsDown<br>
                                            #foreach( $rDown in $activeRelsDown )
                                                ##$rDown<bR>
                                                <p>
                                                    #set( $fromItemDown = $rDown.fromDocument)
                                                    #set( $toItemDown = $rDown.toDocument)

                                                    <a href="perspective.req?projectId=$fromItemDown.project.id&docId=$fromItemDown.id">$fromItemDown.documentKey</a>
                                                    --> <a
                                                        href="perspective.req?projectId=$toItemDown.project.id&docId=$toItemDown.id">$toItemDown.documentKey</a>
                                                    <br> <br>
                                                </p>
                                            #end
                                            </p>
                                        </td>
                                    </tr>
                                #end
                            #end ##end include relationships check
                        #end
                    #end
                    #set($count=0)
                    ########### output the version comments  ####################
                    #set($next = $mathTool.toInteger($bVer.versionNumber) + 1)
                    #set($total = $mathTool.toInteger($aVer.versionNumber) + 1)
                    #if($report_showComment == true)
                        <thead>
                        <tr bgcolor='#CCCCCC'>
                            <td colspan="3" style='padding:.05in 5.75pt 0in 5.75pt'><p class=MsoNormal align=center>
                                Version Details</p></td>
                        </tr>
                        </thead>
                        <tr>
                            <td valign="top" colspan="3"
                                style='border:solid windowtext 1.0pt; mso-border-alt:solid windowtext .5pt;padding:5.4pt 5.4pt 0in 5.4pt'>
                                #set( $x = $next)
                                #if( $next != $total)  ##If the baseline and current versions are the same, don't print
                                    #foreach($n in [$x..$total])
                                    <p class="MsoNormal" style='margin-left:0.0in;'>
                                        ##ActiveId: $activeId, Next:$next, Total: $total<br>
                                        ##Version: $v<br>

                                        #set($v = $verDao.getVersionByDocAndVersionNumber($activeId,$next))
                                        #if( $v)
                                            <b>Version: </b>v$v.versionNumber - $userDao.getUserFullName($v.createdBy)
                                            - $dateTool.format('MMM d, yyyy',$v.createdDate)
                                        </p>
                                            <p class="MsoNormal" style='margin-left:0.5in;'>
                                                <b>Change Details: </b>#if($v.comments)$v.comments #end
                                            </p>
                                        <p class="MsoNormal" style='margin-left:0.5in;'>
                                            #if($v.userComment)
                                                <b>User Comment: </b>$v.userComment
                                            </p>
                                            #else
                                                </p>
                                            #end
                                        #end
                                        #set($next = $next + 1)
                                        #if($next >= $total)
                                            #break
                                        #end
                                    #end
                                #end
                                </p>
                            </td>
                        </tr>
                    #end
                </table>
            #end
        #end
    #end

    ##################### List of Deleted Items ##################################
    <h1 style='page-break-after:avoid'>DELETED ITEMS</h1>
    <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0"
           style='margin-left:.5in;border-collapse:collapse;border:none;'>
        #foreach($k in $deleted)
            <tr>
                <td valign="top"
                    style='border:solid windowtext 1.0pt; mso-border-alt:solid windowtext .5pt;padding:5.4pt 5.4pt 0in 5.4pt'>
                    <p class="MsoNormal" style='margin-left:0in'>
                    <h2>$k.documentKey $k.name</h2>
                    </p>
                    #if($baseData.scopeId == 9 && $k.active)
                        <p class="MsoNormal" style='margin-left:0in'>
                            <font color="red">Not Deleted but Moved to Release $k.release.name
                                <a href="perspective.req?projectId=$activeDoc.project.id&docId=$k.id">$k.documentKey</a></font>
                        </p>
                    #end
                    <p class="MsoNormal" style='margin-left:0in'>
                        #if ( $k.description) $k.description #end
                    </p>
                </td>
            </tr>
        #end
    </table>
    #foreach($dn in $docNodes)
        #if($dnIdList.add($dn.refId))#end
    #end
    ##################### List of Added Items ##################################
    <h1 style='page-break-after:avoid'>ADDED ITEMS</h1>
    #if(($baseData.scopeId != 8) && ($baseData.scopeId != 14))
        <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0"
               style='margin-left:.5in;border-collapse:collapse;border:none;'>
            #foreach($aa in $allActives)
                #set($cDoc = $docDao.getDocument($aa))
                #if(!$dnIdList.contains($aa) && $cDoc.active)
                    <tr>
                        <td valign="top"
                            style='border:solid windowtext 1.0pt; mso-border-alt:solid windowtext .5pt;padding:5.4pt 5.4pt 0in 5.4pt'>
                            <p class="MsoNormal" style='margin-left:0in'>
                            <h2>
                                <a href="perspective.req?projectId=$cDoc.project.id&docId=$cDoc.id">$cDoc.documentKey</a> $cDoc.name
                            </h2>
                            </p>
                            <p class="MsoNormal" style='margin-left:0in'>
                                #if ( $cDoc.description) $cDoc.description #end
                            </p>
                        </td>
                    </tr>

                #end
            #end
        </table>
    #else
        <h2>Baselines created from filters or individual items will not include added items</h2>
    #end
    #if ($format == "doc")
        ###################### Header & Footer #################################
        <p class=MsoBodyText>
            <o:p>&nbsp;</o:p>
        </p>
        <table style="float:right; margin: 0 0 0 10in;" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <div style='mso-element:header' id=h1>
                    </div>
                    <div style='mso-element:footer' id=f1>
                        <div style='mso-element:para-border-div;border:none;border-bottom:solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;padding:0in 0in 1.0pt 0in'>
                            <p class=MsoNormal style="margin-bottom:0.0pt;">
								<span lang=EN-GB>
									<w:PTab Alignment="LEFT" RelativeTo="MARGIN" Leader="NONE"></w:PTab>
									<w:PTab Alignment="CENTER" RelativeTo="MARGIN" Leader="NONE"></w:PTab>
									<w:PTab Alignment="RIGHT" RelativeTo="MARGIN" Leader="NONE">
										Page&nbsp;<span style='mso-field-code:" PAGE "'></span>
                                        <!--[if supportFields]>
                                        <span style='mso-element:field-end'></span>
                                        <![endif]--> of
                                        <!--[if supportFields]>
                                        <span style='mso-element:field-begin'></span>
                                        <span style='mso-spacerun:yes'> </span>NUMPAGES
                                        <span style='mso-element:field-separator'></span>
                                        <![endif]-->
                                        <span style='mso-field-code:" SECTIONPAGES "'></span>
                                        <!--[if supportFields]>
                                        <span style='mso-element:field-end'></span>
                                        <![endif]-->
									</w:PTab>
								</span>
                            </p>
                            <p class=Header-TitlePage><span style='mso-no-proof:yes'></span><span
                                    style='mso-tab-count:1'></span>

                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    #end
</div>

</body>

</html>
