<html>

<head>
    <BASE href="${baseUrl}">
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>Baseline to Baseline Compare</title>
    <style>

        @page {
            size: A4 landscape;

            @bottom-right {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 10.0pt;
                content: "Page " counter(page) " of " counter(pages);
            }
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 10px;
        }

        .details {
            padding: 10px;
            border: solid 1px black;
            border-collapse: collapse;
            table-layout: fixed;
            word-wrap: break-word;
            overflow-wrap: break-word;
            width: 900px;
        }

        table table {
            font-size: 5pt;
            display: block;
            height: auto;
            width: 100%;
        }

        table table img {
            display: block;
            height: auto;
            max-width: 50px;
            max-height: 50px;
        }

        th {
            background-color: #cccccc;
            text-align: center;
            font-size: 10.0pt;
            font-weight: normal;
            border: solid 1px black;
        }

        td, tr {
            border: solid 1px black;
            padding: 5px;
        }

        .details .label {
            width: 50px;
            font-size: 10pt;
            vertical-align: text-top;
        }

        .details .baselinediff {
            width: 425px;
            font-size: 10pt;
            vertical-align: text-top;
        }

        .details .relations {
            width: 425px;
            font-size: 10pt;
            vertical-align: text-top;
        }
        .version {
            font-size: 10.0pt;
        }

        .version-details {
            margin-left: 40px;
            font-size: 9.0pt;
        }

        .version-cell {
            line-height: 1.1;
        }

        h1 {
            font-size: 11.0pt;
            font-weight: bold;
        }

        h2 {
            font-size: 11.0pt;
            font-weight: normal;
            color: #0D0D0D;
        }

        .step-expected {
            margin-left: 40px;
        }

        .step-notes {
            margin-left: 40px;
        }

        img {
            display: block;
            height:auto;
            max-height: 500px;
            max-width: 750px;
        }

        figure {
            max-width: 750px;
        }

        figure img {
            max-width: 700px;
        }

        .missingImage {
            border: 1px solid red;
            font-size: 10px;
            color: rgb(100, 100, 100);
        }

        p.toobig {
            text-align: center;
        }

        /*
* DIFF Service Styles
*
*/

        /*
         * Styles for the Tag Diff
         */
        span.diff-tag-html {
            font-family: "Andale Mono" monospace;
            font-size: 80%;
        }

        span.diff-tag-removed {
            font-size: 100%;
            text-decoration: line-through;
            background-color: #fdc6c6; /* light red */
        }

        span.diff-tag-added {
            font-size: 100%;
            background-color: #ccffcc; /* light green */
        }

        span.diff-tag-conflict {
            font-size: 100%;
            background-color: #f781be; /* light rose */
        }

        /*
         * Styles for the HTML Diff
         */
        span.diff-html-added {
            font-size: 100%;
            color: #00a551;
            border-bottom: 1px dotted #00a551;
        }

        span.diff-html-removed {
            font-size: 100%;
            background-color: #fcddde; /* light red */
            color: #ec1c24
        }

        .inline-diffs span.diff-html-added {
            background-repeat: no-repeat;
        }

        .inline-diffs span.diff-html-added, .inline-diffs span.diff-html-removed {
            font-size: 100%;
            cursor: pointer;
            padding: 0 0 0 18px;
            margin-right: 0.2em;
            text-decoration: none;
            cursor: pointer;
        }

        .inline-diffs span.diff-html-removed {
            background-repeat: no-repeat;
        }

        span.diff-html-removed.closed {
            width: 0;
            overflow: hidden;
            display: inline-block;
            height: 1em;
        }

        span.diff-html-added.closed {
            color: inherit;
            overflow: inherit;
            display: inline;
            height: auto;
            width: auto;
            border-bottom: inherit;
            display: inline;
        }

        span.diff-html-changed {
            *background-color: #c6c6fd; /* light blue */
            cursor: pointer;
        }

        span.diff-html-conflict {
            background-color: #f781be; /* light rose */
        }

        span.diff-html-selected {
            background-color: #FF8800; /* light orange */
            cursor: pointer;
        }

        span.diff-html-selected img {
            border: 2px solid #FF8800; /* light orange */
        }

        span.diff-html-added img {
            border: 2px solid #ccffcc;
        }

        span.diff-html-removed img {
            border: 2px solid #fdc6c6;
            border-bottom-width: 0;
            border-top-width: 0;
        }

        span.diff-html-changed img {
            border: 2px dotted #000099;

        }

        div.diff-removed-image, div.diff-added-image, div.diff-conflict-image {
            height: 300px;
            width: 200px;
            position: absolute;
            opacity: 0.55;
            filter: alpha(opacity=55);
            -moz-opacity: 0.55;
        }

        div.diff-removed-image, div.diff-added-image, div.diff-conflict-image {
            margin-top: 2px;
            margin-bottom: 2px;
            margin-right: 2px;
            margin-left: 2px;
        }

        div.diff-removed-image {
            background-color: #fdc6c6;
        }

        div.diff-added-image {
            background-color: #ccffcc;
            background-repeat: no-repeat;
        }

        div.diff-conflict-image {
            background-color: #f781be;
            background-repeat: no-repeat;
        }

        img.diff-icon {
            background-color: #FF8800;
            width: 16px;
            height: 16px;
            border: 0 none;
        }

        table.diff-tooltip-link, table.diff-tooltip-link-changed {
            width: 100%;
            text-align: center;
            Vertical-align: middle;
        }

        table.diff-tooltip-link-changed {
            border-top: thin dashed #000000;
            margin-top: 3px;
            padding-top: 3px
        }

        td.diff-tooltip-prev {
            text-align: left;
        }

        td.diff-tooltip-next {
            text-align: right;
        }

        table.diffpage-html-firstlast {
            width: 100%;
            Vertical-align: middle;
        }

        div.diff-topbar {
            border-bottom: 2px solid #FF8800;
            border-left: 1px solid #FF8800;
            border-right: 1px solid #FF8800;
            background-color: #FFF5F5;
        }

        a.diffpage-html-a, a.diffpage-html-a:hover, a.diffpage-html-a:link, a.diffpage-html-a:visited, a.diffpage-html-a:active {
            text-decoration: none;
            color: #FF8800;
        }

        .diffpage-html-firstlast a img, .dsydiff-prevnextnav a img {
            vertical-align: middle;
        }

    </style>
</head>

<body>

    #set($baseDocNodes = [] )
    #set($baseOrgIds = [])
    #set($compareOriginIds = [])
    #set($compareDocIds = [])
    #set($deleted = [] )
    #set($docList = [] )
    #set($found = 'no')
    #set($count=0)
    #set($r1 = $mathTool.toInteger($report_baseline1))
    #set($r2 = $mathTool.toInteger($report_baseline2))
    #if($r1 > $r2)
        #set($r1 = $r2)
        #set($r2 = $mathTool.toInteger($report_baseline1))
    #end
    #set($maxDiff = 10000)
    #set($maxedOut="Field is too large for comparison. Maximum number of characters is")

    #################### Load list of first baseline document nodes - nodes so can sort on global ID #################
    #foreach($doc1 in $baselineSource.getDocumentIds($r1))
        #set($dN1=$documentSource.getDocumentNodeForBaseLine( 5, $doc1, $r1))
        #if($dN1.scopeId == 5)
            #if( $baseDocNodes.add($dN1))#end
            ###################### check to see if item type field's have been collected ###################
            #foreach($a in $docList)
                #if($a.get(0) == $documentSource.getDocument($dN1.refId).documentType.id)
                    #set($found = 'yes')
                    #break
                #end
                #set($count=$count+1)
            #end
            ###################### load item type fields ###################
            #if($found == 'no')
                #set($docField = [] )
                #if($docField.add($documentSource.getDocument($dN1.refId).documentType.id))#end
                #foreach($d in $documentSource.getDocumentTypeFieldListByType($documentSource.getDocument($dN1.refId).documentType.id))
                    #if($docField.add($d.documentField.name))#end
                #end
                #if($docList.add($docField))#end
                #set($count=$count+1)
            #end
            #set($found = 'no')
        #end
    #end

    #################### Load list of original IDs of first baseline ids for update & deletion check #################
    #foreach($dn in $baseDocNodes)
        #if($baseOrgIds.add($documentSource.getVersionByDocumentId($dn.refId).originDocument.id))#end
    #end

    #################### Load list of original IDs of second baseline ids for update & deletion check #################
    #foreach($cmp in $baselineSource.getDocumentIds( $r2))
        #set($dN2=$documentSource.getDocumentNodeForBaseLine(5,$cmp,$r2))
        #if($dN2.scopeId == 5)
            #if($compareOriginIds.add($documentSource.getVersionByDocumentId($dN2.refId).originDocument.id))#end
            #if($compareDocIds.add($dN2.refId))#end
        #end
    #end

    #set($bData1 = $baselineSource.getBaseLine( $mathTool.toInteger( $report_baseline1 )))
    #set($bData2 = $baselineSource.getBaseLine( $mathTool.toInteger( $report_baseline2 )))

<div class="main">

    <p><span style='font-size:24.0pt;line-height:115%'>Jama Software</span></p>
    <p><span style='font-size:16.0pt;line-height:115%'>Baseline to Baseline Comparison Report</span></p>
    <p><span style='font-size:16.0pt;line-height:115%'>&nbsp;</span></p>
    <p><span style='font-size:16.0pt;line-height:115%'>&nbsp;</span></p>
    <p><span style='font-size:16.0pt;line-height:115%'>&nbsp;</span></p>
    <p><span style='font-size:16.0pt;line-height:115%'>Baseline 1 - $bData1.name</span></p>
    <p><span
            style='font-size:12.0pt;line-height:115%'>Created by $userSource.getUserFullName($bData1.createdBy) on $dateTool.format(
        'MMM d, yyyy',$bData1.createdDate)</span></p>
    <p><span style='font-size:16.0pt;line-height:115%'>Baseline 2 - $bData2.name</span></p>
    <p><span
            style='font-size:12.0pt;line-height:115%'>Created by $userSource.getUserFullName($bData2.createdBy) on $dateTool.format(
        'MMM d, yyyy',$bData2.createdDate)</span></p>
    <p>&nbsp;

    <div style="page-break-after: always"/>

    ################### get baseline 1 & baseline 2 items to compare #################
    <h1>UPDATED ITEMS</h1>
    #foreach($node1 in $sortTool.sort($baseDocNodes,"globalSortOrder") )
        #set($baseDoc = $documentSource.getDocument($node1.refId))
        ################### output updated fields#################
        #set($baseOrigin = $documentSource.getVersionByDocumentId($baseDoc.id).originDocument.id)
        #set($orginDoc = $documentSource.getDocument($baseOrigin))
        #if($compareOriginIds.contains($baseOrigin))
            #set($baseDN2 = $documentSource.getDocumentNodeForBaseLine(5,$compareDocIds.get($compareOriginIds.indexOf($baseOrigin)),$r2))
            #set($compareDoc = $documentSource.getDocument($baseDN2.refId))
            #set($bVer = $documentSource.getVersionByDocumentId($baseDoc.id))
            #set($aVer = $documentSource.getVersionByDocumentId($compareDoc.id))
            #set($relsMatch = true)
            #if( $includeRelationships == true)
                ##Get relationship changes
                #set($start = 0)
                #set($count = 20)
                #set( $base1Rels = [])
                #set( $base2Rels = [])
                #set( $pageSize = 20)
                #set($base1RelsPage = $documentSource.getRelationships($orginDoc.id,$r1,$start,$count))
                #set($base2RelsPage = $documentSource.getRelationships($orginDoc.id,$r2,$start,$count))

                #set( $totalRels1 = [])
                #set( $totalRels1 = $base1RelsPage.getPageInfo().getTotalResults())

                #set( $totalRels2 = [])
                #set( $totalRels2 = $base2RelsPage.getPageInfo().getTotalResults())

                #if( $totalRels1 && $totalRels1 > 0)
                    #set( $page_count = $mathTool.floor($mathTool.div($totalRels1,$pageSize)) )
                    #foreach( $page in [0..$page_count])
                        #set($base1RelsPage = $documentSource.getRelationships($orginDoc.id,$r1,$start,$count))
                        #set( $addIsSuccessful = $base1Rels.addAll($base1RelsPage.getResults()))
                        #set( $start = $start + $count)
                    #end
                #end

                #set( $start = 0)
                #if( $totalRels2 && $totalRels2 > 0)
                    #set( $page_count = $mathTool.floor($mathTool.div($totalRels2,$pageSize)) )
                    #set( $page_count = $page_count + 1)
                    #foreach( $page in [0..$page_count])
                        #set($base2RelsPage = $documentSource.getRelationships($orginDoc.id,$r2,$start,$count))
                        #set( $addIsSuccessful = $base2Rels.addAll($base2RelsPage.getResults()) )
                        #set( $start = $start + $count)
                    #end
                #end

                #if( !$base1Rels.size())
                    #set( $base1RelsSize = 0)
                #else
                    #set( $base1RelsSize = $base1Rels.size())
                #end

                #if( !$base2Rels.size())
                    #set( $base2RelsSize = 0)
                #else
                    #set( $base2RelsSize = $base2Rels.size())
                #end

                #if( $base1RelsSize == $base2RelsSize)
                    #if( $base1RelsSize == 0 && $base2RelsSize == 0)
                        #set( $relsMatch = true)
                    #else
                        ##The size might match, but the relationship numbers might not, so need to check each rel.
                        #set( $sameRel = 0)
                        #foreach( $rel1 in $base1Rels)
                            #set( $rel1Id = $rel1.id)
                            #foreach( $rel2 in $base2Rels)
                                #set( $rel2Id = $rel2.id)
                                #if( $rel1Id == $rel2Id)
                                    #set( $sameRel = $sameRel + 1)
                                    #break
                                #end
                            #end
                        #end
                        #if( $base1Rels.size() == $sameRel)
                            #set( $relsMatch = true)
                        #else
                            #set ($relsMatch = false)
                        #end
                    #end
                #elseif( $base1RelsSize != $base2RelsSize )
                    #set($relsMatch = false)
                #end
            #end

            #if($baseDoc.id != $compareDoc.id || $relsMatch == false)
                #set($index = $count - 1)
                #set($spot = 0)
                <h2>
                    <a href="${baseUrl}/perspective.req?projectId=$orginDoc.project.id&docId=$orginDoc.id">$baseDoc.documentKey</a> $baseDoc.name
                </h2>
            <table class="details">
                <thead>
                <tr>
                    <th class="label">Field Label</th>
                    <th class="baselinediff" colspan="2">Differences</th>
                </tr>
                </thead>
                ################### go through list of item types and find the one that matches the item being checked #################
                #set($foundChg = 0)
                #foreach($dl in    $docList)
                    #if($dl.get(0) == $baseDoc.documentType.id)
                        ################### once you have the item type, loop through its fields #################
                        #foreach($b in $dl)
                            #if($spot != 0)
                                #set( $baseValue = $velocityReportUtil.getValueForField($baseDoc, $b, $dateFormat))
                                #set( $compareValue = $velocityReportUtil.getValueForField($compareDoc, $b, $dateFormat))
                                ################### check to see if the field for the b1 is different than same field in b2 #################
                                #if($baseValue != $compareValue)
                                    #set($foundChg = 1)
                                    <tr>
                                        <td class="label">
                                            $documentSource.getDocumentTypeFieldByName($b,$baseDoc.documentType.id).label
                                        </td>
                                        <td class="baselinediff" colspan="2">
                                            #if($b != "testCaseSteps")
                                             #if( $baseValue)
                                                #set($beforeVal = $velocityReportUtil.getValueForField($baseDoc, $b, $dateFormat))
                                                #set($afterVal = $velocityReportUtil.getValueForField($compareDoc, $b, $dateFormat))
                                                 #if($beforeVal.length() > $maxDiff || $afterVal.length() > $maxDiff)
                                                     <p class="toobig">$maxedOut $maxDiff.</p>
                                                 #else
                                                    $diffService.getDiff($beforeVal, $afterVal)
                                                 #end
                                            #end
                                            #else
                                                #set($baseSteps = $baseDoc.testCaseSteps)
                                                #set($activeSteps = $compareDoc.testCaseSteps)
                                                #set($length = $mathTool.max($baseSteps.size(), $activeSteps.size()))
                                                #set($stepNum = [1..$length])
                                                #foreach($i in $stepNum)
                                                    #set($beforeStep = "")
                                                    #set($afterStep = "")
                                                    #set($index = $i - 1)
                                                    #if($i <= $baseSteps.size())
                                                        #set($beforeStep = $baseSteps.get($index))
                                                        #set($beforeStepText =
                                                            "<p><b>" + $i
                                                        +".</b> " + $!beforeStep.action
                                                        + "<p><b>Expected Results:</b> " + $beforeStep.expectedResult
                                                        + "<p><b>Notes:</b> " + $beforeStep.notes)
                                                    #else
                                                        #set($beforeStepText =
                                                            "<p><b>"+ $i +
                                                            ".</b> ")
                                                    #end
                                                    #if($i <= $activeSteps.size())
                                                        #set($afterStep = $activeSteps.get($index))
                                                        #set($afterStepText =
                                                            "<p><b>" + $i
                                                        + ".</b> " + $afterStep.action
                                                        + "<p><b>Expected Results:</b> " + $afterStep.expectedResult
                                                        + "<p><b>Notes:</b> " + $afterStep.notes)
                                                    #else
                                                        #set($afterStepText =
                                                            "<p><b>"+ $i +
                                                            ".</b> ")
                                                    #end
                                                    #if($beforeStepText.length() > $maxDiff || $afterStepText.length() > $maxDiff)
                                                        <p class="toobig">$maxedOut $maxDiff.</p>
                                                    #else
                                                        $diffService.getDiff($beforeStepText, $afterStepText)
                                                    #end
                                                #end
                                            #end
                                        </td>
                                    </tr>
                                #end
                            #end
                            #set($spot = 1)
                        #end
                        #if($foundChg == 0)
                            <tr>
                                <td colspan="3">
                                    All item fields have been reset to the Baseline 1 state or have not been
                                    changed. Refer to version comments for history. If no version comments
                                    exist, the fields have not changed.
                                </td>
                            </tr>
                        #end

                        #if( $includeRelationships == true)
                            #if( $base1RelsSize != 0 || $base2RelsSize != 0)
                                #if( $relsMatch == false)
                                    <tr>
                                        <td class="label">Relationships</td>
                                        <td class="relations">
                                            #foreach( $versionedRelationship in $base1Rels )
                                                #set($fromItemId = $versionedRelationship.getFromItem().getValue().get(0))
                                                #set($fromItemVersion = $versionedRelationship.getFromItem().getValue().get(1))
                                                #set($toItemId = $versionedRelationship.getToItem().getValue().get(0))
                                                #set($toItemVersion = $versionedRelationship.getToItem().getValue().get(1))
                                                #set($fromItem = $documentSource.getItem($fromItemId , $fromItemVersion))
                                                #set($toItem = $documentSource.getItem($toItemId , $toItemVersion))
                                                <a href="${baseUrl}/perspective.req?projectId=$fromItem.project.id&docId=$fromItem.id">$fromItem.documentKey</a>
                                                --> <a
                                                    href="${baseUrl}/perspective.req?projectId=$toItem.project.id&docId=$toItem.id">$toItem.documentKey</a>
                                            <p>
                                            #end
                                        </p>
                                        </td>
                                        <td class="relations">
                                            #foreach( $versionedRelationship in $base2Rels )
                                                #set($fromItemId = $versionedRelationship.getFromItem().getValue().get(0))
                                                #set($toItemId = $versionedRelationship.getToItem().getValue().get(0))
                                                #if( $fromItemId == $compareDoc.id)
                                                    #set( $fromItem = $compareDoc)
                                                    #set($toItemId = $versionedRelationship.getToItem().getValue().get(0))
                                                    #set($toItemVersion = $versionedRelationship.getToItem().getValue().get(1))
                                                    #set($toItem = $documentSource.getItem($toItemId , $toItemVersion))
                                                #elseif( $toItemId == $compareDoc.id)
                                                    #set( $toItem = $compareDoc)
                                                    #set($fromItemId = $versionedRelationship.getFromItem().getValue().get(0))
                                                    #set($fromItemVersion = $versionedRelationship.getFromItem().getValue().get(1))
                                                    #set($fromItem = $documentSource.getItem($fromItemId , $fromItemVersion))
                                                #end
                                                <a href="${baseUrl}/perspective.req?projectId=$fromItem.project.id&docId=$fromItem.id">$fromItem.documentKey</a>
                                                --> <a
                                                    href="${baseUrl}/perspective.req?projectId=$toItem.project.id&docId=$toItem.id">$toItem.documentKey</a>
                                            <p>
                                            #end
                                        </td>
                                    </tr>
                                #end
                            #end ##end include relationships
                        #end
                    </table>
                    #end
                #end
                #set($count=0)
                ########### output the version comments  ####################
                #if($baseDoc.id != $compareDoc.id)
                    #set($next = $mathTool.toInteger($bVer.versionNumber)+1)
                    #set($total = $mathTool.toInteger($aVer.versionNumber)+1)
                    #if($report_showComment == true)
                        <table class="details">
                            <thead>
                            <tr bgcolor='#CCCCCC'>
                                <th>Version Details</th>
                            </tr>
                            </thead>
                            <tr>
                                <td class="version-cell" valign="top">
                                    #foreach($n in [1..$total])
                                    <p class="version">
                                        #set($v = $documentSource.getVersionByDocAndVersionNumber($baseOrigin,$next))
                                        #if( $v)
                                            <b>Version: </b>v$v.versionNumber
                                            - $userSource.getUserFullName($v.createdBy)
                                            - $dateTool.format('MMM d, yyyy',$v.createdDate)
                                        </p>
                                            <p class="version-details">
                                                <b>Change Details: </b>#if($v.comments)$v.comments #end
                                            </p>
                                        <p class="version-details">
                                            #if($v.userComment)
                                                <b>User Comment: </b>$v.userComment
                                            </p>
                                            #end
                                        #end
                                        #set($next = $next + 1)
                                        #if($next == $total)
                                            #break
                                        #end
                                    #end
                                </td>
                            </tr>
                        </table>
                    #end
                #end
            #end
        #else
            #if($deleted.add($baseDoc))#end
        #end
    #end

    ##################### List of Deleted Items ##################################
    <h1>DELETED ITEMS</h1>
    <table class="details" border="1" cellspacing="0" cellpadding="0">
        #foreach($k in $deleted)
            <tr>
                <td class="contentcell" valign="top">
                    <h2>$k.documentKey $k.name</h2>
                    #if( $k.description) $k.description #end
                </td>
            </tr>
        #end
    </table>

    ##################### List of Added Items ##################################
    <h1>ADDED ITEMS</h1>
    <table class="details" border="1" cellspacing="0" cellpadding="0">
        #foreach($aa in $compareOriginIds)
            #set($cDoc = $documentSource.getDocument($aa))
            #if(!$baseOrgIds.contains($aa))
                <tr>
                    <td class="contentcell" valign="top">
                        <h2>
                            <a href="${baseUrl}/perspective.req?projectId=$cDoc.project.id&docId=$cDoc.id">$cDoc.documentKey</a> $cDoc.name
                        </h2>
                        </p>
                        <p>
                            #if( $cDoc.description) $cDoc.description #end
                        </p>
                    </td>
                </tr>
                #if( $includeRelationships == true)
                    <tr>
                        <td class="contentcell" valign="top">
                            <h3>Relationships</h3>
                            #set( $start = 0)
                            #set( $i = 20)
                            #set($addedRels = $documentSource.getRelationships($aa,$r2,$start,$i))
                            #foreach( $versionedRelationship in $addedRels.getResults() )
                                #set($fromItemId = $versionedRelationship.getFromItem().getValue().get(0))
                                #set($fromItemVersion = $versionedRelationship.getFromItem().getValue().get(1))
                                #set($toItemId = $versionedRelationship.getToItem().getValue().get(0))
                                #set($toItemVersion = $versionedRelationship.getToItem().getValue().get(1))
                                #set($fromItem = $documentSource.getItem($fromItemId , $fromItemVersion))
                                #set($toItem = $documentSource.getItem($toItemId , $toItemVersion))

                                <a href="${baseUrl}/perspective.req?projectId=$fromItem.project.id&docId=$fromItem.id">$fromItem.documentKey</a>
                                --> <a
                                    href="${baseUrl}/perspective.req?projectId=$toItem.project.id&docId=$toItem.id">$toItem.documentKey</a>
                            <p>
                            #end
                        </td>
                    </tr>
                #end
            #end
        #end
    </table>
</div>
</body>
</html>
