<html>

## ======================================================================================================================
## Name: User_List.vm 
## 
## Description: Context Insensitive Report that can be exported to Excel, Word, PDF or HTML. 
##              The default report lists the active users of the organization and for each user their 
##              Username, Full Name, Email, Groups, and License Type. 
##
##              If 'Include Deactivated Users' the report will include any deactivated user if the user 
##              was deactivated within 6 months prior to the report being run and if the user is still in a 
##              deactivated state with the addition of an 'Active/Deactivated' column.
##
##              *If the user has logged in within 6 months prior to the report being run it will show license data for the user. 
##              If the user has not logged in within the last 6 months then it will show 'No license usage last 6 months'
##          
##              
## ======================================================================================================================
## MODIFICATION HISTORY 
## 
## Date         Revision   Person             Comments 
## -----------  ---------  ----------------   ---------------------------------- 
## 2024-01-19   1.0        Anna FitzGerald    Initial Build
##                                            Added Parameter option and logic for deactivated users
##                                                                                 
##
## ======================================================================================================================
##
## Report Criteria:
## ---------------------------    
##  * Note: If being used this criteria will need to be added to the report configuration.  
##
##      Type:       Display Name:                     Report Global Variable:           Function:
##      -----------------------------------------------------------------------------------------------------------------
##      Boolean       Include Deactivated Users          reportDeactivated       If true the report will include deactivated users
##
## ======================================================================================================================
## 
## Sources Utilized: 
## $userSource
##  
## Constants:
## --------------------------
##
## Timezone 
#set( $timeZone = "America/Los_Angeles" )

## Formatting
#if( $format == 'pdf' || $format == 'html')
	#set( $primaryFont = "Arimo")  	
#else 
	#set( $primaryFont = "Calibri")
#end

##
#########################################################################################################################
<head>
## .pdf & .html typeface link ##
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<style>
/* .doc & .xlsx @font-face rule */
@font-face
  {font-family:"Calibri";
  panose-1:2 15 5 2 2 2 4 3 2 4;
  mso-font-charset:0;
  mso-generic-font-family:swiss;
  mso-font-pitch:variable;
  mso-font-signature:-1610611985 1073750139 0 0 159 0;}
body {
	margin:auto;
	width:80%;
}
table {
	border-collapse:collapse;
}
tr {
	mso-height-source:auto;
	height:auto;
}
col {
	mso-width-source:auto;
}
br {
	mso-data-placement:same-cell;
}
td.title {
	font-size:13pt;
	font-weight:700;
	font-family:'$primaryFont',sans-serif;
}
td.header {
	white-space:normal;
	word-wrap:break-word;
	overflow-wrap:break-word;
	font-weight:700;
	font-size:11pt;
	font-family:'$primaryFont',sans-serif;
	background-color:#e6e6e6;
	border:.5pt solid #999999;
	vertical-align:middle;
	text-align:center;
}
td.cell {
	white-space:normal;
	word-wrap:break-word;
	overflow-wrap:break-word;
	font-weight:300;
	font-size:9pt;
	border:.5pt solid #999999;
	vertical-align:middle;
	text-align:left;
	font-family:'$primaryFont',sans-serif;
	padding:.5pt 1pt .5pt 1pt;
	margin:0;
}
#if( $format == 'pdf') /*no named pages w/ .pdf*/
@page {
	size:11.0in 8.5in;
}
#end 
#if( $format != 'pdf') 
@page SectionLandscape {
	size:11.0in 8.5in;
	margin:.5in .5in .5in .5in;
}
div.SectionLandscape {
	page: SectionLandscape;
	margin:.5in .5in .5in .5in;
}
#end

</style>
</head>
## =================================================================================================================
##
##
## MACROS 
##
##
## =================================================================================================================
#########################################################################################################################
##          Macro: getDate
##          Input: Java Time Zone ID to determine which timezone to display the date in
##          Output: Formatted date in the desired timezone
#########################################################################################################################
#macro( getDate $inputDate $inputTimeZone )
  #set( $outTz = $dateTool.getTimeZone().getTimeZone($inputTimeZone) )
  #set( $locale = $dateTool.getLocale() )
  #set( $date = $dateTool.format( 'MM/dd/yyyy', $inputDate, $locale, $outTz ))
  $!date
#end
#########################################################################################################################
##          Macro: getDateTime
##          Input: Java Time Zone ID to determine which timezone to display the date in
##          Output: Formatted date in the desired timezone
#########################################################################################################################
#macro( getDateTime $inputDate $inputTimeZone )
  #set( $outTz = $dateTool.getTimeZone().getTimeZone($inputTimeZone) )
  #set( $locale = $dateTool.getLocale() )
  #set( $dateTime = $dateTool.format( 'MM/dd/yyyy hh:mm a', $inputDate, $locale, $outTz ))
  $!dateTime
#end
#########################################################################################################################
######################################################################################################################
## 
##      getLicenseType 
##      Input: $userLicenseType - enum code of user license type 
##      Output: $userLicenseDisplay - display name of license type 
## 
######################################################################################################################
#macro( getLicenseType $userLicenseType )

  #if( $userLicenseType == "N" || $userLicenseType == "CREATOR" )
    #set( $userLicenseDisplay = "Creator")
  #elseif( $userLicenseType == "C" || $userLicenseType == "FLOATING" )
    #set( $userLicenseDisplay = "Creator (Float)")
  #elseif( $userLicenseType == "S" || $userLicenseType == "STAKEHOLDER" )
    #set( $userLicenseDisplay = "Stakeholder")
  #elseif( $userLicenseType == "FC"|| $userLicenseType == "FLOATING_COLLABORATOR" )
    #set( $userLicenseDisplay = "Collaborator (Float)")
  #elseif( $userLicenseType == "R" || $userLicenseType == "RESERVED_COLLABORATOR")
    #set( $userLicenseDisplay = "Collaborator (Reserved)")
  #elseif( $userLicenseType == "V" || $userLicenseType == "FLOATING_REVIEWER" )
    #set( $userLicenseDisplay = "Reviewer (Float)")
  #elseif( $userLicenseType == "RV" || $userLicenseType == "RESERVED_REVIEWER")
    #set( $userLicenseDisplay = "Reviewer (Reserved)")
  #elseif( $userLicenseType == "NV" || $userLicenseType == "NAMED_REVIEWER")
    #set( $userLicenseDisplay = "Reviewer")
  #elseif( $userLicenseType == "ET" || $userLicenseType == "EXPIRING_TRIAL")
    #set( $userLicenseDisplay = "Expiring Trial")
  #elseif( $userLicenseType == "I" || $userLicenseType == "INACTIVE")
    #set( $userLicenseDisplay = "Inactive")
  #elseif( $userLicenseType == "TR" || $userLicenseType == "TEST_RUNNER")
    #set( $userLicenseDisplay = "Test runner")
  #end 

  ##$userLicenseDisplay
#end 
##
######################################################################################################################
## 
##     	getDeactivatedUsers 
##      Input: none
##      Output: list of deactivated users 
## 
######################################################################################################################
#macro( getDeactivatedUsers )
	#set( $deactivationLast6Mo = $eventSource.getEventsForLastHours([25],[6],4380))
	#foreach( $activity in $deactivationLast6Mo )
	 	#set( $targetUserObj = {} )
	 	#set( $activityString = $activity.toString().replaceAll("\[|\{|\}|\]", ""))
	 	#set( $extractedKeyValuePairs = $activityString.split(','))
	 	#foreach( $keyValuePairStr in $extractedKeyValuePairs )
			#set( $keyValuePairArray = $keyValuePairStr.split('='))
	    #if( $keyValuePairArray.size() == 2 )
	      #set( $key = $keyValuePairArray[0])
	      #set( $key = $key.trim().replaceAll('^"|"$', '')) 
	      #set( $value = $keyValuePairArray[1])
	      #set( $value = $value.trim().replaceAll('^"|"$', ''))
				#if( $key == "objectId")
					##$key,$value <br>
					#set($success = $targetUserObj.put($key, $value))
				#end 
			#end 
		#end 
		#set( $userObj = $userSource.getUser($mathTool.toInteger($targetUserObj.objectId)))
		##UserObj: $userObj.fullName, $userObj.id<br>
		#if( !$deactivatedUserIds.contains($userObj.id))
			#set( $success = $deactivatedUserIds.add($userObj.id))
			#set( $success = $deactivatedUsers.add($userObj))
		#end 
	#end ##foreach( $activity in $deactivationLast6Mo )
#end 
##
######################################################################################################################
##  
##      groupLicensesPerUser
##      Input: $userLicenseUsage
##      Output: $userLicensesWithUsageLast6Months 
## 
######################################################################################################################
######################################################################################################################
#macro( groupLicensesPerUser $userLicenseUsage )
  #foreach( $activity in $userLicenseUsage ) 
    #set( $user = $activity.get("user"))
    #set( $userID = $user.id)
    #set( $license = $activity.get("license"))
    #if( $foreach.hasNext )
      #set( $nextIndex = $foreach.index + 1 )
      #set( $nextItem = $userLicenseUsage.get($nextIndex))
      #set( $nextItemID = $nextItem.get("userId"))
    #else
      #set( $nextItem = false )
    #end
  	#if( !$licenses.contains( $license ))
  		#set( $success = $licenses.add($license))
  	#end 
    #if( $userID != $nextItemID || !$nextItem ) 
       #set( $success = $userLicensesWithUsageLast6Months.add({"user": $user, "licenses": $licenses }))
       #set( $licenses = [] )
    #end
  #end 
#end 
##
######################################################################################################################
######################################################################################################################
## ===================================================================================================================
##
##
## REPORT BODY
##
##
## ===================================================================================================================
## 

##  Get User Data  ## 
##-----------------## 
#set( $licenses = [] )
#set( $activeUserIds = [] )
#set( $userLicenseUsage = [] )
#set( $userLicensesWithUsageLast6Months = [] )
#set( $usersInOrg = $userSource.getActiveUserListByOrgId($project.organizationId)) ## This returned an inactive user
#set( $usageForLastSixMonths = $userSource.getLoginsForLastHours(4380, $project.organizationId))

#foreach( $activity in $usageForLastSixMonths ) 
  #set( $user = $activity.user )
  #set( $userId = $user.id )
  #set( $license = $activity.actualLicenseType)
  #getLicenseType($license)
  #set( $licenseDisplay = "${license} - ${userLicenseDisplay}")
  #set( $success = $userLicenseUsage.add({ "userId":$userId, "user": $user, "license": $licenseDisplay }))
#end 

#set( $userLicenseUsage = $sortTool.sort( $userLicenseUsage,"userId:asc" ))
#groupLicensesPerUser( $userLicenseUsage ) ## Returns $userLicensesWithUsageLast6Months


<body>
	<div class=SectionLandscape>
		<table style='width:100%;table-layout:fixed;'>
## ===================================================================================================================
##
##
## 		TABLE COL Definitions & HEADINGS
##
##
## ===================================================================================================================
			<colgroup>
				<col style='width:100pt'/>
				<col style='width:100pt'/>
				<col style='width:145pt'/>
				<col style='width:158pt'/>
				#if( $reportDeactivated )
				<col style='width:100pt'/>
				#end
				<col style='width:145pt'/>
			</colgroup>
			<thead>
				<tr>
					<td class=title colspan=2 style='text-align:left;border:none;font-size:11pt'>$project.organization.name</td>
					<td class=title #if( $reportDeactivated) colspan=3 #else colspan=2 #end rowspan=2 style='text-align:center;border:none;'>JAMA USER LIST</td>
					<td class=cell style='text-align:right;border:none;'>#getDateTime($dateTool.date, $timeZone)</td>
				</tr>
				<tr> 
					<td class=cell colspan=2 style='text-align:left;border:none;'>Report Runner: $userSource.currentUser.fullName</td>
					<td class=cell style='text-align:left;border:none;'></td>
				</tr>
				<tr>
					<td class=header width='100pt'>Username</td>
					<td class=header width='100pt'>Full Name</td>
					<td class=header width='145pt'>Email</td>
					<td class=header width='158pt'>Groups</td>
					#if( $reportDeactivated )
					<td class=header width='100pt'>Active/Deactivated</td>
					#end 
					<td class=header width='145pt'>License Type*</td>
				</tr>
			</thead>

			<tbody>
## ===================================================================================================================
##
##
## 		DYNAMIC ROWS
##
##
## ===================================================================================================================
			##--------------------## 
			##  Active Users      ## 
			##--------------------## 
			#foreach( $userInOrg in $usersInOrg )
				#set( $success = $activeUserIds.add($userInOrg.id))
				#set( $licenses = [])
				#set( $groups = [] )
				#foreach( $group in $userInOrg.roles )
					#if( !$groups.contains($group.display))
						#set( $success = $groups.add($group.display))
					#end 
				#end
				#set( $groups = $groups.toString().replaceAll("\[|\]", ""))
				#if( $userInOrg.email != "systemuser") ## skip core instance user ## 
				<tr>
					<td class=cell width='100pt'>$!userInOrg.userName</td>
					<td class=cell width='100pt'>$!userInOrg.fullName</td>
					<td class=cell width='145pt'>$!userInOrg.email</td>
					<td class=cell width='158pt'>$!groups</td>
					#foreach( $u in $userLicensesWithUsageLast6Months )
						#set( $user = $u.get("user"))
						#if( $userInOrg.id == $user.id )
							#set( $licenses = $u.get("licenses"))
							#break
						#end 
					#end
					#if( $reportDeactivated )
						<td class=cell width='100pt'>Active</td>
					#end 
					#set( $licenses = $licenses.toString().replaceAll("\[|\]", ""))
					<td class=cell width='145pt'>#if($licenses.length() == 0) No license usage last 6 months #else $licenses #end</td>
				</tr>
				#end 
			#end
			##--------------------## 
			##  Deactivated Users ## 
			##--------------------## 
			#if( $reportDeactivated )

				#set( $deactivatedUsers = [] )
				#set( $deactivatedUserIds =[] )
				#getDeactivatedUsers()

				#foreach( $deactiveUser in $deactivatedUsers )
					#set( $licenses = [])
					#set( $groups = [] )
					#set( $groups = [] )
					#foreach( $group in $deactiveUser.roles )
						#if( !$groups.contains($group.display))
							#set( $success = $groups.add($group.display))
						#end 
					#end
					#set( $groups = $groups.toString().replaceAll("\[|\]", ""))
					#if( $deactiveUser.email != "systemuser" && !$activeUserIds.contains($deactiveUser.id)) ## skip core instance user and ensure this deactivation does not show if user is currently active, i.e. they could have been deactivated and reactivated ## 
					<tr>
						<td class=cell width='100pt'>$!deactiveUser.userName</td>
						<td class=cell width='100pt'>$!deactiveUser.fullName</td>
						<td class=cell width='145pt'>$!deactiveUser.email</td>
						<td class=cell width='158pt'>$!groups</td>
						#foreach( $u in $userLicensesWithUsageLast6Months )
							#set( $user = $u.get("user"))
							#if( $deactiveUser.id == $user.id )
								#set( $licenses = $u.get("licenses"))
								#break
							#end 
						#end
						#set( $licenses = $licenses.toString().replaceAll("\[|\]", ""))
						<td class=cell width='100pt'>Deactivated</td>
						<td class=cell width='145pt'>#if($licenses.length() == 0) No license usage last 6 months #else $licenses #end</td>
					</tr>
					#end 	##if( $deactiveUser.email != "systemuser") ## skip core instance user ## 
				#end ##foreach( $deactivated in $deactivatedUsers )
			#end ##if( $reportDeactivated )
			<tr>
				<td colspan=5 class=cell style='text-align:left;border:none;'>*Shows licenses for users that have logged in within the last 6 months from the date the report was run. If the user has not logged in within the last 6 months it will show 'No license usage last 6 months'.</td>
			</tr>
		</tbody>
	</table>

	</div>
</body>
</html>



