<html>
## ========================================================================== 
## Name: Sync Status Report.vm 
## 
## Description: Report displaying items in a documentList and their sync'd items/status
## 
## =========================================================================== 
## MODIFICATION HISTORY 
## 
## Date         Revision   Person            Comments 
## -----------  ---------  ----------------  ---------------------------------- 
## 31-JUL-2015   A          Shawnna Williams  Created with Preston. 
## 31-JUL-2015	 B          Preston Mitchell  Formatted so that parent item data repeats in each row to allow filtering in Excel
## 19-APR-2023   C          Anna FitzGerald   Added new Velocity API Data Sources
##                                            Collapsed border on table 
## 											 
##
## ========================================================================== 
#set($docDao = $applicationContext.getBean("documentDao"))
#set($itemDao = $applicationContext.getBean("contourItemDao"))
#set($syncService = $applicationContext.getBean("syncStatusService"))


## Data Sources loaded for this report
##-------------------------------------------
#if( $documentSource ) ##
  ## Jama 8.44 or greater
  ## Jama 8.42 if New Velocity Feature Flag Enabled
  #set( $docDao = $documentSource )
  #set( $itemDao = $documentSource)
  #set( $syncService = $documentSource)
##
#else
  ## Jama 8.43 or older
  #set($docDao = $applicationContext.getBean("documentDao"))
  #set($itemDao = $applicationContext.getBean("contourItemDao"))
  #set($syncService = $applicationContext.getBean("syncStatusService"))
##
#end
<table width=100% border=0 cellpadding=0 cellspacing=0 width=871 style='border-collapse:collapse;table-layout:fixed;width:100%;'>
	<tr>
		<td style="border:solid .5pt"><b>ID</b></td>
		<td style="border:solid .5pt"><b>Global ID</b></td>
		<td style="border:solid .5pt"><b>Name</b></td>
		<td style="border:solid .5pt"><b>Synced Item</b></td>
		<td style="border:solid .5pt"><b>Synced Project</b></td>
		<td style="border:solid .5pt"><b>In Sync?</b></td>
	</tr>
	
#foreach ($doc in $documentList)				
	#set( $syncDocs = [])
	#set( $syncDocs = $itemDao.getDocumentsWithGlobalId( $doc.document.globalId, $mathTool.toInteger($project.organizationId)))
	##$syncDocs will print all docs that are synced with this document
		#foreach( $s in $syncDocs)
			#set( $inSync = $syncService.areItemsInSync( $mathTool.toInteger( $doc.document.id), $mathTool.toInteger( $s.id)))
			#if($doc.document.documentKey != $s.documentKey)
			<tr>
				<td style="border:solid .5pt">$doc.document.documentKey</td>
				<td style="border:solid .5pt">$doc.document.globalId</td>
				<td style="border:solid .5pt">$doc.document.name</td>
				<td style="border:solid .5pt">$s.documentKey</td>
				<td style="border:solid .5pt">$s.project.name</td>
				<td style="border:solid .5pt">#if ($!inSync == false)
												No
											  #else
												Yes
											  #end
				</td>
			</tr>
			#end
		#end
#end 
</table>
</html>
