MIME-Version: 1.0
X-Document-Type: Workbook
Content-Type: multipart/related; boundary="----=_NextPart_01D8DFBE.2078AF30"

#########################################################################################################################
## ======================================================================================================================
## Name: Review Details Per Item Report.vm
##
## Output Type: Excel XLXS
## 
## Description/Notes:
##               - Export report on a container or single item from your project tree. 
##                 - If the "Latest Reviews Only" parameter is true then the report will extract only the latest review
##                   data per each exported item. 
##                 - If the "Latest Reviews Only" parameter is false then the report will extract all review data per
##                   each exported item.
##               - The report builds five primary data group sections: Exported Item Data, Review Data, 
##                 Review Item Data, Approvers Data, & Reviewers Data.
##               - Content ID cells are direct hyperlinks back to the Jama instance either to the exported item, review, 
##                 or review item itself.
##               - If an exported item does not have any reviews then a row with only item ID and name will generate.
##               - If the # of Approvals or # of Reviews matches the number of Approver or Reviewer users assigned
##                 to the review the cell will be colored green. 
##               - If a review has a rejection or has not been reviewed then the # of Rejections and or # of Awaiting Review
##                 cells will be colored red.
## 
## Context Sensitive: T
## 
##
## ======================================================================================================================
## MODIFICATION HISTORY 
## 
## Date         Revision   Person            Comments 
## -----------  ---------  ----------------  -------------------------------------------------------------------------
## 2022-01-13   1.0         Liam Rotchford    - Report based upon specifications as shown in the description above.
## 2022-01-14   1.1         Liam Rotchford    - Added Item type key column per item after the ID column.
## 2022-05-06   1.2         Liam Rotchford    - Removed omitted item types conditional to ensure all items in the context
##                                              are included.
##                                            - Adjusted report to use the document items documentKey instead of the API ID
## 2022-05-06   1.2.1       Liam Rotchford    - Adjusted cell types for documentKey items to be String type with proper style 
##                                              class.
## 2022-07-01   1.2.2       Liam Rotchford    - Adjusted report to utilize globalId for determining item differences for 
##                                              performing approval, rejection value calculations. 
##                                            - This prevents edge case where items with duplicate names are present in review.
##                                            - Adjusted the placement of the #set($prevItem = $currentItem) to ensure it is 
##                                              always updated. 
## 2023-03-24   2.0         Liam Rotchford    - Updated report to latest EESR Master Single Sheet .XLSX Output Template version
##                                              1.1 .
##                                            - Rebuilt report content into five primary groups: Exported Item Data, Review Data, 
##                                              Review Item Data, Approvers Data, & Reviewers Data. 
##                                            - Improved report formatting, style classes, and incorporated additional data columns. 
##                                            - Created #gatherReviews() & #gatherReviewData() macros to extract report data 
##                                              with updated implementations to improve report performance. 
##                                            - Updated dynamic row / cell creation organized into individual content macros
##                                              based on report "groups": #itemDataGroupCells(), #reviewDataGroupCells(), 
##                                              #reviewItemDataGroupCells(), #reviewItemApproversDataGroupCells(), 
##                                              #reviewItemReviewersDataGroupCells().
##                                            - Added a modified version of the #getSpan() macro to apply merged cells formatting
##                                              to the exported items column cell group. 
##                                            - Added hyperlink logic for exported items, latest review, previous revision review, 
##                                              latest review version review item, & previous review version review item. 
##                                            - Removed excess / unused functional macros to reduce report file bulk.
## 2024-02-29   2.1         Anna Fitzgerald   - Major update of report code html, fixed revisionItem stored values, adjusted logic
##                                            - Updated #formatRichTextCell() macro for Aspose.cells upgrage v23.10 and enhanced 
##                                              rich text capabilities.
## 2024-03-05   2.1.1       Anna Fitzgerald   - Updated variable name spelling for revisionCount 
## 2024-03-05   2.1.2       Anna Fitzgerald   - Added condition to ensure only active items in the report 
##                                            - Updated logical && to ensure Deleted && Archived reviews are excluded                               
## 2024-03-07   2.1.3       Anna Fitzgerald   - Updated getting the Revision User Items from the Revision Item itself and not the Revision
## 2024-03-22   2.1.4       Anna Fitzgerald   - Removed “<” character in front of “<<style>” in head of Worksheet which was causing Aspose 
##                                              parsing error.  
##                                                                              
##
##
## ===================================================================================================================== 
## Criteria: 
##
##      Type:     Display Name:                     Report Global Variable:
##      -------------------------------------------------------------------
##      Boolean   Show Items Latest Review Only     reportLatestReview
##
##
#########################################################################################################################




#########################################################################################################################
#########################################################################################################################
##
##  1. DATA_SOURCES
##
#########################################################################################################################
##
## Data Sources available without declaration
##-------------------------------------------
## $format
## $project
## $documentList
## $baseUrl
## $contextType
## $contextId
## $report_name
##
## Data Sources loaded for this report
##-------------------------------------------
#if( $documentSource ) ##
  ## Jama 8.44 or greater
  ## Jama 8.42 if New Velocity Feature Flag Enabled
  #set( $docDao = $documentSource )
  #set( $documentNodeDao = $documentSource )
  #set( $attachmentDao = $documentSource )
  #set( $attachmentService = $documentSource )
  #set( $docTypeFieldDao = $documentSource )
  #set( $relDao = $documentSource )
  #set( $versionDao = $documentSource )
  #set( $testRunDao = $testSource )
  #set( $testPlanDao = $testSource)
  #set( $testSetDao = $testSource)
  #set( $testCycleDao = $testSource)
  #set( $velocityServiceWrapper = $documentSource )
  #set( $baselineDao = $baselineSource )
  #set( $contourItemDao = $documentSource )
  #set( $userDao = $userSource )
  #set( $lookupDao = $documentSource )
  #set( $revisionDao = $reviewSource )
  #set( $commentDao = $commentSource )
#else
  ## Jama 8.43 or older
  ## Jama 8.43 or older ## Zoll is version 8.42.1 without the Velocity Feature Flag Enabled
  #set( $contourItemDao = $applicationContext.getBean("contourItemDao"))
  #set( $docDao = $applicationContext.getBean("documentDao"))
  #set( $documentNodeDao = $applicationContext.getBean("documentNodeDao"))
  #set( $attachmentDao = $applicationContext.getBean("attachmentDao"))
  #set( $attachmentService = $applicationContext.getBean("attachmentService"))
  #set( $relDao = $applicationContext.getBean("relationshipDao") )
  #set( $versionDao = $applicationContext.getBean("versionDao") )
  #set( $testRunDao = $applicationContext.getBean("testRunDao") )
  #set( $testPlanDao = $applicationContext.getBean("testPlanDao"))
  #set( $testSetDao = $applicationContext.getBean("testSetDao"))
  #set( $testCycleDao = $applicationContext.getBean("testCycleDao"))
  #set( $userDao = $applicationContext.getBean("userDao"))
  #set( $baselineDao = $applicationContext.getBean("baseLineDao") )
  #set( $revisionDao = $applicationContext.getBean("reviewDao"))
  #set( $commentDao = $applicationContext.getBean("commentDao") )
##
#end
##

## Report Parameters
##-------------------------------------------

#if($!contextType && $contextType.toUpperCase().contains("BASELINE") )
  #set( $baselineMode = true)
  #set( $baselineId = $mathTool.toInteger($contextId))
  #set( $reportBaseline = $baselineDao.getBaseLine( $baselineId ))
#else
  #if( $reportBaseline )
    #set( $baselineMode = $reportBaseline )
  #else
    #set( $baselineMode = false )
  #end
#end
##
#if( $reportTestRuns )
  #set( $testRunMode = $reportTestRuns )
#else
  #set( $testRunMode = false )
#end
##
##
##
## Report Constants 
## -------------------------------------------
#set( $cmpKey = "CMP") ##
#set( $setKey = "SET") ##
#set( $fldKey = "FLD") ##
#set( $txtKey = "TXT") ##
#set( $objectTypeField = "object_type" ) ##
#set( $timeZone = "America/Los_Angeles" ) ##
##
## 
#########################################################################################################################


#########################################################################################################################
##
##  HEAD 
##
#########################################################################################################################

#* Replace the ExcelWorksheet x:Name "Report Name" to correspond with the name of your worksheet Tab
That is all you need to change within the head tags *#

------=_NextPart_01D8DFBE.2078AF30
Content-Location: file:///C:/61233B10/Single_Sheet_Mockup.htm
Content-Type: text/html; charset="utf-8"

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta name="Excel Workbook Frameset">
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link rel=File-List href="Single_Sheet_Mockup_files/filelist.xml">
<![if !supportTabStrip]>
<link id="shLink" href="Single_Sheet_Mockup_files/sheet001.htm">

<link id="shLink">
<![endif]><!--[if gte mso 9]><xml>
 <x:ExcelWorkbook>
  <x:ExcelWorksheets>
   <x:ExcelWorksheet>
    <x:Name>Report Name</x:Name>
    <x:WorksheetSource HRef="Single_Sheet_Mockup_files/sheet001.htm"/>
   </x:ExcelWorksheet>
  </x:ExcelWorksheets>
  <x:Stylesheet HRef="Single_Sheet_Mockup_files/stylesheet.css"/>
  <x:WindowHeight>12165</x:WindowHeight>
  <x:WindowWidth>27435</x:WindowWidth>
  <x:WindowTopX>930</x:WindowTopX>
  <x:WindowTopY>32767</x:WindowTopY>
  <x:ProtectStructure>False</x:ProtectStructure>
  <x:ProtectWindows>False</x:ProtectWindows>
 </x:ExcelWorkbook>
</xml><![endif]-->
</head>
</html>

#########################################################################################################################
##
##  STYLES 
##
#########################################################################################################################
------=_NextPart_01D8DFBE.2078AF30
Content-Location: file:///C:/61233B10/Single_Sheet_Mockup_files/stylesheet.css
Content-Type: text/css; charset="utf-8"

#* Paste your styles here, replacing the styles in this template. You do not need the opening and closing style tags. 
The styles are found by the template via the boundary and "Content-Location" *#
tr
  {mso-height-source:auto;}
col
  {mso-width-source:auto;}
br
  {mso-data-placement:same-cell;}
.style0
  {mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  white-space:nowrap;
  mso-rotate:0;
  mso-background-source:auto;
  mso-pattern:auto;
  color:black;
  font-size:12.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  border:none;
  mso-protection:locked visible;
  mso-style-name:Normal;
  mso-style-id:0;
  white-space:normal;
  mso-char-indent-count:0;
  }
td
  {mso-style-parent:style0;
  padding-top:1px;
  padding-right:1px;
  padding-left:1px;
  mso-ignore:padding;
  color:black;
  font-size:12.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Calibri, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border:none;
  mso-background-source:auto;
  mso-pattern:auto;
  mso-protection:locked visible;
  white-space:normal;
  mso-rotate:0;
  mso-char-indent-count:0;}
.xl61
  {mso-style-parent:style0;
  text-align:left;
  vertical-align:center;
  border:.5pt solid windowtext;}
.xl62
  {mso-style-parent:style0;
  background:white;
  mso-pattern:black none;}
.xl63
  {mso-style-parent:style0;
  font-weight:700;
  text-align:left;
  vertical-align:top;
  border:.5pt solid windowtext;}
.xl64
  {mso-style-parent:style0;
  font-weight:700;
  text-align:left;
  vertical-align:center;
  border:.5pt solid windowtext;
  background:#DDEBF7;
  mso-pattern:black none;}
.xl65
  {mso-style-parent:style0;
  font-weight:700;
  text-align:left;
  vertical-align:center;
  border:.5pt solid windowtext;
  background:#FCE4D6;
  mso-pattern:black none;}
.xl66
  {mso-style-parent:style0;
  font-weight:700;
  text-align:left;
  vertical-align:center;
  border:.5pt solid windowtext;
  background:#FFF2CC;
  mso-pattern:black none;}
.xl67
  {mso-style-parent:style0;
  text-align:left;
  vertical-align:top;
  border:.5pt solid windowtext;}
.xl68
  {mso-style-parent:style0;
  text-align:center;
  vertical-align:top;
  border:.5pt solid windowtext;}
.xl69
  {mso-style-parent:style0;
  text-align:center;
  vertical-align:top;
  border:.5pt solid windowtext;
  background:#C6E0B4;
  mso-pattern:black none;}
.xl70
  {mso-style-parent:style0;
  text-align:center;
  vertical-align:top;
  border:.5pt solid windowtext;
  background:#FF9D9D;
  mso-pattern:black none;}
.xl71
  {mso-style-parent:style0;
  font-size:14.0pt;
  font-weight:700;
  text-align:left;
  vertical-align:top;
  border:.5pt solid windowtext;
  background:#BDD7EE;
  mso-pattern:black none;}
.xl72
  {mso-style-parent:style0;
  font-size:14.0pt;
  font-weight:700;
  text-align:left;
  vertical-align:top;
  border:.5pt solid windowtext;
  background:#F8CBAD;
  mso-pattern:black none;}
.xl73
  {mso-style-parent:style0;
  font-size:14.0pt;
  font-weight:700;
  text-align:left;
  vertical-align:top;
  border:.5pt solid windowtext;
  background:#FFE699;
  mso-pattern:black none;}
.xl74
  {mso-style-parent:style0;
  font-size:14.0pt;
  font-weight:700;
  text-align:left;
  vertical-align:top;
  border:.5pt solid windowtext;}
.xl75
  {mso-style-parent:style0;
  text-align:center;
  vertical-align:top;
  border:.5pt solid windowtext;}
.xl76
  {mso-style-parent:style0;
  text-align:center;
  vertical-align:top;
  border:.5pt solid windowtext;
  background:#FF9D9D;
  mso-pattern:black none;
  border:.5pt solid windowtext;}
.xl77
  {mso-style-parent:style0;
  text-align:center;
  vertical-align:top;
  border:.5pt solid windowtext;}
.xl78
  {mso-style-parent:style0;
  font-size:14.0pt;
  font-weight:700;
  text-align:left;
  vertical-align:top;
  border:.5pt solid windowtext;
  background:#C6E0B4;
  mso-pattern:black none;}
.xl79
  {mso-style-parent:style0;
  font-weight:700;
  text-align:left;
  vertical-align:center;
  border:.5pt solid windowtext;
  background:#E2EFDA;
  mso-pattern:black none;}
.xl80
  {mso-style-parent:style0;
  font-size:14.0pt;
  font-weight:700;
  text-align:left;
  vertical-align:top;
  border:.5pt solid windowtext;
  background:#8EA9DB;
  mso-pattern:black none;}
.xl81
  {mso-style-parent:style0;
  font-weight:700;
  text-align:left;
  vertical-align:center;
  border:.5pt solid windowtext;
  background:#B4C6E7;
  mso-pattern:black none;}

#########################################################################################################################
##
##  MACROS
##
#########################################################################################################################
##
#########################################################################################################################
##          Macro: formatRichTextCell
##          Desc: Use on purely textual Rich Text Fields (I.e use directly in Cells)
##          Input: $inString - input string
##          Return: string, ready for opening in Word
#########################################################################################################################
#macro( formatRichTextCell $inString )
  #if( $inString )
    #set( $string = $inString.toString() )
    
    #set( $string = $string.replaceAll("<div.*?>|<\/div>",""))
    #set( $string = $string.replaceAll("<html.*?>|<html>", ""))
    #set( $string = $string.replaceAll("<span.*?>|<\/span>", ""))

    ## remove images ## 
    #set( $string = $string.replaceAll("<p.*?><img.*?><\/p>", ""))
    #set( $string = $string.replaceAll("<img.*?>",""))
    #set( $string = $string.replaceAll("<figure.*?>|</figure>", ""))
    #set( $string = $string.replaceAll("<svg.*?>|<\/svg", ""))
    ## figure captions should not cause issue, replace at user discretion
    #set( $string = $string.replaceAll("<figcaption.*?>|<\/figcaption>",""))

    ## remove tables ## 
    #set( $string = $string.replaceAll("<table.*?>|<\/table>",""))
    #set( $string = $string.replaceAll("<col.*?>|<\/col>", ""))
    #set( $string = $string.replaceAll("<tbody.*?>|<\/tbody>",""))
    #set( $string = $string.replaceAll("<thead.*?>|<\/thead>",""))
    #set( $string = $string.replaceAll("<th.*?>(?:.|\s)*?<\/th>", ""))
    #set( $string = $string.replaceAll("<th.*?>|</th>", ""))
    #set( $string = $string.replaceAll("<tr.*?>|<\/tr>",""))
    #set( $string = $string.replaceAll("<td.*?>(?:.|\s)*?<\/td>", ""))
    #set( $string = $string.replaceAll("<td.*?>|<\/td>", ""))
    #set( $string = $string.replaceAll("<tfoot.*?>|<\/tfoot>",""))
    #set( $string = $string.replaceAll("<caption.*?>|<\/caption>",""))

    ## remove link tags
    #set( $string = $string.replaceAll("<\/?(a).*?>",""))

    ## replace list tags with a restructured list via <br>s and the bullet html entity
    #set( $string = $string.replaceAll("<ul.*?>","<br>"))
    #set( $string = $string.replaceAll("<ol>","<br>"))
    #set( $string = $string.replaceAll("<\/ol>|<\/ul>",""))
    #set( $string = $string.replaceAll("<li.*?>","&#x2022; "))
    #set( $string = $string.replaceAll("<\/li>","<br>"))

    ## Misc edge cases
    #set( $string = $string.replaceAll("\xA0",""))

    $string
  #end
#end
#########################################################################################################################
##          Macro: getDate
##          Input: Java Time Zone ID to determine which timezone to display the date in
##          Output: Formatted date in the desired timezone
#########################################################################################################################
#macro( getDate $inputDate $inputTimeZone )
  #set( $outTz = $dateTool.getTimeZone().getTimeZone($inputTimeZone) )
  #set( $locale = $dateTool.getLocale() )
  $dateTool.format( 'MM/dd/yyyy', $inputDate, $locale, $outTz )
#end

#########################################################################################################################



#########################################################################################################################
#########################################################################################################################
##
##  Report Review Data Collection Macros
##
#########################################################################################################################
#########################################################################################################################

#########################################################################################################################
##          Macro: gatherReviewData
##          Inputs: $doc $revision
##          Returns: Set the Revision User Item Data and Revision Item Data
#########################################################################################################################
#macro( gatherReviewData $doc $revision) 
  
  ## Define Revision Item Data Variables
  #####################################################
  #set($approvers = '')
  #set($approverUserCount = 0)

  #set($reviewers = '')
  #set($reviewerUserCount = 0)

  #set($approvedItemUsers = '')
  #set($rejectedItemUsers = '')
  #set($reviewedItemUsers = '')
  #set($notReviewedItemUsers = '')

  #set($approvalCount = 0)
  #set($rejectionCount = 0)
  #set($reviewedCount = 0)
  #set($notReviewedCount = 0)

  
  ## Get Revision Item 
  #####################################################
  #set( $revisonItem = false )
  #set( $revisionItemDocument = false  )
  #set( $revisionItemDocumentId = false )
  #set( $revisionItemStatus = false )
  #set( $revisionItemId =$reviewSource.getRevision_ItemIdByRevisionAndOriginItem($revision.id, $doc.currentVersion.originDocument.id ))
  #set( $revisionItem = $reviewSource.getRevision_Item( $revisionItemId ))
  #set( $revisionItemDocument = $revisionItem.version.document )
  #set( $revisionItemDocumentId = $revisionItemDocument.id )

  ## Gather Reviewer & Approver Users and find revisionUserItem status 
  #####################################################

  #set( $revisionUserItems = $revisionItem.revisionUserItems )

  #foreach($revUserItem in $revisionUserItems )
  ##<tr><td colspan=20> $revUserItem.revisionItem.version.document.globalId, $doc.globalId</td></tr>
   #if( $revUserItem.revisionItem.version.document.globalId == $doc.globalId )
    #set( $revisionUserName = $revUserItem.revisionUser.user.fullName ) 
    #set( $revUserItemId = $revUserItem.id )
    #if($revUserItem.revisionUser.isApprover)
      #set($approvers = "$approvers,<br>$revisionUserName")
      #set($approverUserCount = $approverUserCount + 1)
    #else
      #set($reviewers = "$reviewers,<br>$revisionUserName")
      #set($reviewerUserCount = $reviewerUserCount + 1)
    #end 
    
    #set($revisionItemStatus = $revUserItem.status.name)
   
    #if($revisionItemStatus == "Approved")
      #set($approvedItemUsers = "$approvedItemUsers,<br>$revisionUserName")
      #set($approvalCount = $approvalCount + 1)
    
    #elseif($revisionItemStatus == "Needs More Work")
      #set($rejectedItemUsers = "$rejectedItemUsers,<br>$revisionUserName")
      #set($rejectionCount = $rejectionCount + 1)
    
    #elseif($revisionItemStatus == "Reviewed")
      #set($reviewedItemUsers = "$reviewedItemUsers,<br>$revisionUserName")
      #set($reviewedCount = $reviewedCount + 1)
    
    #elseif($revisionItemStatus == "Not Reviewed")
      #set($notReviewedItemUsers = "$notReviewedItemUsers,<br>$revisionUserName")
      #set($notReviewedCount = $notReviewedCount + 1)
    #end
    #break 
  #end ##if( $revUserItem.revisionItem.version.document.globalId == $doc.globalId )
#end ##foreach($revUserItem in $revisionUserItems )

  ## String Clean User Name Lists
  ######################################
  #set($approvers = $approvers.replaceAll("^(,<br>)|(,<br>)$", ""))
  #set($reviewers = $reviewers.replaceAll("^(,<br>)|(,<br>)$", ""))
  #set($approvedItemUsers = $approvedItemUsers.replaceAll("^(,<br>)|(,<br>)$", ""))
  #set($rejectedItemUsers = $rejectedItemUsers.replaceAll("^(,<br>)|(,<br>)$", ""))
  #set($reviewedItemUsers = $reviewedItemUsers.replaceAll("^(,<br>)|(,<br>)$", ""))
  #set($notReviewedItemUsers = $notReviewedItemUsers.replaceAll("^(,<br>)|(,<br>)$", ""))
#end
#########################################################################################################################
##
##  Report Table Cell Creation Macros
##
#########################################################################################################################
#########################################################################################################################
##          Macro: itemDataGroupCells
##          Inputs: 
##          Returns: Export items data column cells creation
#########################################################################################################################
#macro(itemDataGroupCells $itemRowSpan)
  ## Item ID
  <td class=xl61 rowspan=$itemRowSpan style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'><a href="$baseUrl/perspective.req#/items/$doc.id?projectId=$project.id">$doc.documentKey</a></td>
  ## Item Name
  <td class=xl61 rowspan=$itemRowSpan style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$doc.name</td>
#end
#########################################################################################################################
##          Macro: reviewDataGroupCells
##          Inputs: $review $latestRevision $revision $reviewItemDataObj 
##          Returns: Review data column cells creation
#########################################################################################################################
#macro(reviewDataGroupCells)
  ## Review ID
    ## Latest review revision hyperlink
  #if($latestRevision && $latestRevision.sequenceNumber == $revision.sequenceNumber)
    <td class=x167 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'><a href="$baseUrl/review.req#/r:REV-$review.sequence">REV-$!review.id</a></td>
    ## Previous review revision hyperlink
  #else
    <td class=x167 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'><a href="$baseUrl/review.req#/r:REV-$review.sequence,V$revision.sequenceNumber">REV-$!review.id</a></td>
  #end
  ## Review Name
  <td class=x167 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!review.name</td>
  ## Review Version
  <td class=xl68 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>V$!revision.sequenceNumber</td>
  ## Review Status
  <td class=x167 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!revision.status.name</td>
  ## Review Start Date
  #set($reviewStartDate = "#getDate($revision.startDate, $timeZone)")
  #set($reviewStartDate = $reviewStartDate.replaceAll(","," "))
  <td class=x167 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!reviewStartDate</td>
  ## Review End Date
  #set($reviewEndDate = "#getDate($revision.endDate, $timeZone)")
  #set($reviewEndDate = $reviewEndDate.replaceAll(","," "))
  <td class=x167 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!reviewEndDate</td>
  ## Approvers
  <td class=x167 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!approvers</td>
  ## Reviewers
  <td class=x167 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!reviewers</td>

#end
#########################################################################################################################
##          Macro: reviewItemDataGroupCells
##          Inputs: $review $latestRevision $revision $reviewItemDataObj 
##          Returns: Review item data column cells creation
#########################################################################################################################
#macro(reviewItemDataGroupCells)
  ## Latest review revision item hyperlink
  #if($latestRevision && $latestRevision.sequenceNumber == $revision.sequenceNumber)
    <td class=x167 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'><a href="$baseUrl/review.req#/r:REV-$review.sequence/rp:i$revisionItemId">REV-$!revisionItemDocument.documentKey</a></td>
    ## Previous review revision item hyperlink
  #else
    <td class=x167 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'><a href="$baseUrl/review.req#/r:REV-$review.sequence,V$revision.sequenceNumber/rp:i$revisionItemId">REV-$!revisionItemDocument.documentKey</a></td>
  #end  
  ## Review Item Name
  <td class=x167 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!revisionItemDocument.name</td>
  ## Review Item Version
  <td class=x167 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>V$!revision.sequenceNumber</td>
  ## # of Comments
  <td class=x167 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!revisionItem.getRevisionItemCommentCount()</td>
#end
#########################################################################################################################
##          Macro: reviewItemApproversDataGroupCells
##          Inputs: $reviewItemDataObj 
##          Returns: Review item approvers data column cells creation
#########################################################################################################################
#macro(reviewItemApproversDataGroupCells)
  ## Approval User
  <td class=xl67 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!approvedItemUsers</td>
  ## Rejection User
  <td class=xl67 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!rejectedItemUsers</td>
  ## # of Approvals
  #set($approvalStyle = "xl75")
  #if($approvalCount == $approverUserCount && $approvalCount != 0)
    #set($approvalStyle = "xl69")
  #elseif($approverUserCount == 0)
    #set($approvalCount = '')
  #end
  <td class=$approvalStyle style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!approvalCount</td>
  ## # of Rejections
  #set($rejectionStyle = "xl75")
  #if($rejectionCount > 0 )
    #set($rejectionStyle = "xl70")
  #elseif($approverUserCount == 0)
    #set($rejectionCount = '')
  #end
  <td class=$rejectionStyle style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!rejectionCount</td>
#end
#########################################################################################################################
##          Macro: reviewItemReviewersDataGroupCells
##          Inputs: $reviewItemDataObj 
##          Returns: Review item reviewers data column cells creation
#########################################################################################################################
#macro(reviewItemReviewersDataGroupCells)
  ## Reviewed User 
  <td class=x167 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!reviewedItemUsers</td>
  ## Not Reviewed User
  <td class=x167 style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!notReviewedItemUsers</td>
  ## # of Reviewed
  #set($reviewStyle = "xl75")
  #if($reviewedCount == $reviewerUserCount && $reviewedCount != 0)
    #set($reviewStyle = "xl69")
  #elseif($reviewerUserCount == 0)
    #set($reviewedCount = '')
  #end
  <td class="$reviewStyle" style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!reviewedCount</td>
  ## # of Not Reviewed
  #set($notReviewedStyle = "xl77")
  #if($notReviewedCount > 0 )
    #set($notReviewedStyle = "xl76")
  #elseif($reviewerUserCount == 0)
    #set($notReviewedCount = '')
  #end
  <td class="$notReviewedStyle" style='border:.5pt solid windowtext;text-align:center;vertical-align:middle'>$!notReviewedCount</td>
#end
######################################################################################################################
#macro( buildBlankRow )
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=x167 style='border:.5pt solid windowtext;'></td>
<td class=xl68 style='border:.5pt solid windowtext;'></td>
#end 
######################################################################################################################
#########################################################################################################################
##
##  BODY
##
#########################################################################################################################


------=_NextPart_01D8DFBE.2078AF30
Content-Location: file:///C:/61233B10/Single_Sheet_Mockup_files/sheet001.htm
Content-Type: text/html; charset="utf-8"

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File href="../Single_Sheet_Mockup.htm">
<link rel=File-List href=filelist.xml>
<style>
<!--table
  {mso-displayed-decimal-separator:"\.";
  mso-displayed-thousand-separator:"\,";}
@page
  {margin:.75in .7in .75in .7in;
  mso-header-margin:.3in;
  mso-footer-margin:.3in;}
-->
</style>
</head>

<body link="#0563C1" vlink="#954F72" class=xl62>

  ## Report Table Definition
  ##################################################################################
  <table border=0 cellpadding=0 cellspacing=0 width=2966 style='border-collapse:collapse;table-layout:fixed;width:2220pt'>

    ## Data Group Labels
    ###############################################
    <tr class=xl74 height=25 style='height:19.0pt'>
      <td colspan=2 height=25 class=xl71 style='height:19.0pt;'>Item Data</td>
      <td colspan=8 class=xl72 style='border-left:none;'>Review Data</td>
      <td colspan=4 class=xl73 style='border-left:none;'>Review Item Data</td>
      <td colspan=4 class=xl78 style='border-left:none;'>Review Item Approvers Data</td>
      <td colspan=4 class=xl80 style='border-left:none;'>Review Item Reviewers Data</td>
    </tr>

    ## Column Header Labels
    ###############################################
    <tr class=xl63 height=40 style='height:35.0pt'>
      <td height=40 width=127 class=xl64 style='height:35.0pt;border-top:none;width:95pt'>Item ID</td>
      <td class=xl64 width=287 style='border-top:none;border-left:none;width:215pt'>Item Name</td>
      <td class=xl65 width=127 style='border-top:none;border-left:none;width:95pt'>Review ID</td>
      <td class=xl65 width=287 style='border-top:none;border-left:none;width:215pt'>Review Name</td>
      <td class=xl65 width=127 style='border-top:none;border-left:none;width:95pt'>Review Version</td>
      <td class=xl65 width=167 style='border-top:none;border-left:none;width:125pt'>Review Status</td>
      <td class=xl65 width=167 style='border-top:none;border-left:none;width:125pt'>Review Start Date</td>
      <td class=xl65 width=167 style='border-top:none;border-left:none;width:125pt'>Review End Date</td>
      <td class=xl65 width=207 style='border-top:none;border-left:none;width:155pt'>Approvers</td>
      <td class=xl65 width=207 style='border-top:none;border-left:none;width:155pt'>Reviewers</td>
      <td class=xl66 width=127 style='border-top:none;border-left:none;width:95pt'>Review Item ID</td>
      <td class=xl66 width=287 style='border-top:none;border-left:none;width:215pt'>Review Item Name</td>
      <td class=xl66 width=127 style='border-top:none;border-left:none;width:95pt'>Review Item Version</td>
      <td class=xl66 width=127 style='border-top:none;border-left:none;width:95pt'># of Comments</td>
      <td class=xl79 width=207 style='border-top:none;border-left:none;width:155pt'>Item Approved User</td>
      <td class=xl79 width=207 style='border-top:none;border-left:none;width:155pt'>Item Rejected User</td>
      <td class=xl79 width=127 style='border-top:none;border-left:none;width:95pt'># of Approvals</td>
      <td class=xl79 width=127 style='border-top:none;border-left:none;width:95pt'># of Rejections</td>
      <td class=xl81 width=207 style='border-top:none;border-left:none;width:155pt'>Item Reviewed User</td>
      <td class=xl81 width=207 style='border-top:none;border-left:none;width:155pt'>Item Not Reviewed User</td>
      <td class=xl81 width=127 style='border-top:none;border-left:none;width:95pt'># of Reviews</td>
      <td class=xl81 width=135 style='border-top:none;border-left:none;width:125pt'># of Awaiting Review</td>     
    </tr>

  ## Gather Exported Items Review & Revision Objects
  #####################################################
  #foreach($vDoc in $documentList )
    #set($itemReviewData = [])

    #set($doc = $vDoc.document )

    #if( $doc.active )
      #set($versions = $docDao.getAllVersionsByDocumentId($doc.id))
      #set($versionsSorted = $sortTool.sort($versions, "createdDate:desc"))

      ## Extract All Reviews From Every Item Version
      #####################################################
      #set( $latestRevision = false )
      #if($versionsSorted.size() > 0)
        #foreach($version in $versionsSorted)
          #set($revisions = $reviewSource.getRevisionsForItemId($version.document.id) )
          #set($revisionsSorted = $sortTool.sort($revisions, "createdDate:desc"))

          #if($revisionsSorted.size() > 0)
            #set( $range = $revisionsSorted.size() - 1)

            ## Extract Only Latest Review Revision
            #######################################
            #if($reportLatestReview)
              #foreach( $x in [0..$range])
                #set( $revision = $revisionsSorted[$x])
                #if( $revision.status.name != "Deleted" && $revision.status.name != "Archived")
                  #if( !$latestRevision )
                    #set($success = $itemReviewData.add($revision))
                    #set( $latestRevision = true)
                    #break ## Break out of $versions forloop upon extracting latest revision from latest item version to move to next item
                  #end
                #end
              #end
            ## Extract Every Review Revision
            #######################################
            #else
              #foreach( $revision in $revisionsSorted)
                #if( $revision.status.name != "Deleted" && $revision.status.name != "Archived")
                  #set($success = $itemReviewData.add($revision))
                #end 
              #end 
            #end

          #end ## #if($revisionsSorted.size() != 0)
        #end ## #foreach($version in $versionsSorted)
      #end ## #if($versionsSorted.size() != 0)


    ## Build Colgroup for the Item and set rowspan to be how many revisions the item has, default 1 ## 
    ##################################################################################
    #set( $itemRowSpan = $mathTool.max(1,$itemReviewData.size()))
    <tr>
    #itemDataGroupCells($itemRowSpan)

    #if( $itemReviewData.size() > 0 )
      #set( $revisionCount = 0 )

      #foreach($revision in $itemReviewData)
        #set($review = $revision.review)

        ## Extract Review Users Data and Review Item Approval / Rejection Data by updating supplied values
        #if($revision)
          #gatherReviewData($doc $revision) 
          #if( $revisionCount > 0 )
            <tr>
          #end 
          ## Review Data Group
          #####################################
          #reviewDataGroupCells()

          ## Review Item Data Group
          #####################################
          #reviewItemDataGroupCells()

          ## Review Item Approvers Data Group
          #####################################
          #reviewItemApproversDataGroupCells()

          ## Review Item Reviewers Data Group
          #####################################
          #reviewItemReviewersDataGroupCells()

          #set( $revisionCount = $revisionCount+ 1 )
        #end  
        </tr>
      #else 
        #buildBlankRow()
      #end ##foreach($reviewDataObj in $itemReviewData)

    #else 
      #buildBlankRow()
      </tr>
    #end  ##if( $itemReviewData.size() > 0 )

  #end ##if( $doc.active )
#end ## #foreach( $vDoc in $documentList )


  </table>
</body>
</html>

------=_NextPart_01D8DFBE.2078AF30
Content-Location: file:///C:/61233B10/Single_Sheet_Mockup_files/filelist.xml
Content-Type: text/xml; charset="utf-8"

<xml xmlns:o="urn:schemas-microsoft-com:office:office">
 <o:MainFile HRef="../Single_Sheet_Mockup.htm"/>
 <o:File HRef="stylesheet.css"/>
 <o:File HRef="sheet001.htm"/>
 <o:File HRef="filelist.xml"/>
</xml>
------=_NextPart_01D8DFBE.2078AF30--
